.container-fluid{
  height: calc(100% - 70px);
  margin-top: 35px;
  #medicamentos{
    #title{
      color: white;
    }
    .card{
      background-color: #DDDDDDCC;
      border-radius: 10px;
      height: 343px;
      width: 100%;
      margin-top: 10px !important;
      div{
        margin-top: 10px;
        padding: 10px;
      }
      #inpt{
        input{
          margin: 10px 0px 0px 10px;
          width: 90%;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #000000;
          color: #4B4B4E;
          font-size: .8rem;
          ::placeholder{
            color: #4B4B4E;
            font-size: .8rem;
          }
        }
        select{
          margin: 0px 0px 0px 10px;
          width: 90%;
          background-color: transparent;
        }
      }
      ::placeholder{
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #4B4B4E;
      }
    }
  }

  .groupFecha{
    position:relative;
    input{
      background-color: transparent;
      font-size: .8rem;
      display:block;
      width: 90%;
      border: none;
      color: #4B4B4E;
      border-bottom: 1px solid #000000;
      margin: 10px 0px 0px 10px;
    }
    input:focus{
      outline:none;
    }
    /* LABEL ======================================= */
    label{
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: #4B4B4E;
      position:absolute;
      pointer-events:none;
      left:20px;
      bottom: 16px;
      transition:0.2s ease all;
      -moz-transition:0.2s ease all;
      -webkit-transition:0.2s ease all;
    }

    /* active state */
    input:focus ~ label, input:valid ~ label{
      top:-2px;
      font-size:12px;
      color:#5264AE;
      font-weight: bold;
    }

    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
      width:50%;
    }

    /* HIGHLIGHTER ================================== */
    .highlight {
      position:absolute;
      height:60%;
      width:90%;
      top:25%;
      left:0;
      pointer-events:none;
      opacity:0.5;
      margin: 0px 0px 0px 10px;
    }

    /* active state */
    input:focus ~ .highlight {
      -webkit-animation:inputHighlighter 0.3s ease;
      -moz-animation:inputHighlighter 0.3s ease;
      animation:inputHighlighter 0.3s ease;
    }

    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
      from { background:#5264AE; }
      to 	{ width:0; background:transparent; }
    }
    @-moz-keyframes inputHighlighter {
      from { background:#5264AE; }
      to 	{ width:0; background:transparent; }
    }
    @keyframes inputHighlighter {
      from { background:#5264AE; }
      to 	{ width:0; background:transparent; }
    }
  }
  #guardar{
    display: flex;
    align-items: center;
    justify-content: center;
    button{
      width: 80%;
      height: 40px;
      background-color: #B2C9F6;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      border: none;
      font-weight: bold;
    }
  }
}
