<div class="container-fluid">
  <div id="medicamentos">
    <span id="title">INGRESAR MEDICAMENTO</span>
    <form #form='ngForm'>
      <div class="card">
        <div class="row">
          <div class="col">
            <div class="group">
              <input type="text"name="nombreCientifico" id="nombreCientifico" required [(ngModel)]="datos.nombreCientifico">
              <span class="highlight"></span>
              <label>Nombre cientifico</label>
            </div>
            <div class="group">
              <input type="text"name="nombreComercial" id="nombreComercial" required [(ngModel)]="datos.nombreComercial">
              <span class="highlight"></span>
              <label>Nombre comercial</label>
            </div>
            <div id="inpt">
              <label style="margin-left:12px;
                            color: #4B4B4E;
                            font-size: 14px;
                            line-height: 16px;
                            font-family: Roboto;">
                Forma farmaceutica
              </label>
              <select name="formaFarmaceutica" id="formaFarmaceutica" required [(ngModel)]="datos.formaFarmaceutica">
                <option value="">Forma farmaceutica</option>
                <option value="CAPSULAS">CAPSULAS</option>
                <option value="COMPRIMIDOS">COMPRIMIDOS</option>
                <option value="JARABES">JARABES</option>
                <option value="INYECTABLES">INYECTABLES</option>
                <option value="SUPOSITORIOS">SUPOSITORIOS</option>
              </select>
            </div>
            <div class="group">
              <input type="text"name="dosis" id="dosis" required [(ngModel)]="datos.dosis">
              <span class="highlight"></span>
              <label>Dosis</label>
            </div>
          </div>
          <div class="col">
            <div class="group">
              <input type="date"name="fechaCaducidad" id="fechaCaducidad" required [(ngModel)]="datos.fechaCaducidad">
              <span class="highlight"></span>
              <label>Fecha de caducidad</label>
            </div>
            <div class="group">
              <input type="text"name="lote" id="lote" required [(ngModel)]="datos.lote">
              <span class="highlight"></span>
              <label>Lote</label>
            </div>
            <div class="group">
              <input type="text"name="laboratorio" id="laboratorio" required [(ngModel)]="datos.laboratorio">
              <span class="highlight"></span>
              <label>Laboratorio</label>
            </div>
            <div class="group" *ngIf="editar">
              <input type="number"name="sumarCantidad" id="sumarCantidad" required (blur)="sumar($event)">
              <span class="highlight"></span>
              <label>Cantidad a ingresar</label>
            </div>
            <div class="group">
              <input type="number"name="cantidad" id="cantidad" required [(ngModel)]="datos.cantidad">
              <span class="highlight"></span>
              <label>Cantidad</label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="row" *ngIf="guardar">
    <div class="col" id="guardar">
      <button (click)="agregar()">GUARDAR</button>
    </div>
  </div>
  <div class="row" *ngIf="editar">
    <div class="col" id="guardar">
      <button (click)="editarMedicamento()">EDITAR</button>
    </div>
  </div>
</div>
