<div id="main-wrapper">
    <app-header></app-header>
    <!-- Menu lateral -->
    <app-sidebar></app-sidebar>
    <!-- Fin del menu lateral -->

    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Sistema de rutas -->
            <router-outlet></router-outlet>
            <!-- Fin del sistema de rutas -->
        </div>



          <!-- <div id="container-floating">
            <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create">
              <img src="../../../assets/logoMedic/redes/apoyo.png" alt="instagram" (click)="soporte()">
            </div>
          </div> -->
          <div class="cajaf">
            <a class="btn_roundf" title="Menu" alt="Menu"><i class="ti-angle-up"></i></a>
            <a class="caja1" alt="Soporte" title="Soporte" (click)="soporte()"><i class="ti-headphone-alt"></i></a>
            <a class="caja2" alt="comprobante" title="Transferencia" (click)="cuenta()"><i class="ti-wallet"></i></a>
          </div>

        <!-- footer -->
        <!-- <footer class="footer">
            DESARROLLADO POR EMI-EXSEC©
        </footer> -->
        <!-- Fin del footer -->
    </div>
</div>
