@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  }
}

html, body {
	height: 100%;
	width: 100%;
	min-width: 318px;
}
body {
	font-family: 'Zilla Slab', serif;
	background-color: #37474f;
	// background-color: #222;
}
h1 {
	font-size: 8em;
}
h2 {
	font-size: 6em;
}
h3 {
	font-size: 4em;
}
// RESPONSIVE IMAGES
img {
	max-width: 100%;
	height: auto;
}

// RESPONSIVE FONT
@media all and (max-width: 1200px) {
		body {
				font-size: 1em;
		}
}
@media all and (max-width: 1000px) {
		body {
				font-size: .8em;
		}
}
@media all and (max-width: 500px) {
    body {
        font-size: 0.6em;
			}
}

//  FLOATING MATERIAL BUTTON
#floating-button{
  @include button-bg(#B2C9F6);
	width: 55px;
  height: 55px;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  padding: 3px;
  box-shadow: 0px 2px 5px #666;
}

.plus, .micon{
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
	line-height: 40px;
}
.plus {
	line-height: 55px;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}

#container-floating{
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 30px;
  right: 30px;
  z-index: 50px;
}

#container-floating:hover{
  height: 400px;
  width: 90px;
  padding: 30px;
}

#container-floating:hover .plus{
  animation: plus-in 0.15s linear;
  animation-fill-mode: forwards;
}

.edit{
	color: #FFF;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  opacity: 0;
	text-align: center;
  margin: auto;
  line-height: 55px;
  transform: rotateZ(-70deg);
  transition: all 0.3s;
  animation: edit-out 0.3s;
}

#container-floating:hover .edit{
  animation: edit-in 0.2s;
   animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

img{
  display:block;
  margin:auto;
  height: 40px ;
  width: 40px;
}

@keyframes edit-in{
    from {opacity: 0; transform: rotateZ(-70deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

@keyframes edit-out{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(-70deg);}
}

@keyframes plus-in{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(180deg);}
}

@keyframes plus-out{
    from {opacity: 0; transform: rotateZ(180deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

.nds{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform:  scale(0);
  cursor: pointer;
}

.nd1{
  @include button-bg(#d4e157);
  right: 40px;
  bottom: 120px;
  animation-delay: 0.2s;
    animation: bounce-out-nds 0.3s linear;
  animation-fill-mode:  forwards;
}

.nd3{
  @include button-bg(#e6ee9c);
  right: 40px;
  bottom: 180px;
  animation-delay: 0.15s;
    animation: bounce-out-nds 0.15s linear;
  animation-fill-mode:  forwards;
}

@keyframes bounce-nds{
    from {opacity: 0;}
    to {opacity: 1; transform: scale(1);}
}

@keyframes bounce-out-nds{
    from {opacity: 1; transform: scale(1);}
    to {opacity: 0; transform: scale(0);}
}

#container-floating:hover .nds{
  animation: bounce-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

#container-floating:hover .nd3{
  animation-delay: 0.08s;
}


.cajaf{
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 100000;
}
.cajaf:hover{
  height: 180px;
}
.cajaf:hover .caja1{
  visibility: visible;
  bottom: 60px;
}
.cajaf:hover .caja2{
  visibility: visible;
  bottom: 120px;
}
.caja2:hover:before{
  visibility: visible;
  color:#000;
}
.caja1:hover:before{
  visibility: visible;
  color:#000;
}
.btn_roundf{
  position: absolute;
  bottom:0;
  right: 0;
  border:1px solid #B2C9F6;
  background: #B2C9F6;
  color:#000000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 90090;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.caja1{
  position: absolute;
  bottom: 0;
  right: 0;
  border:1px solid #ffffff;
  background: #ffffff;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 90080;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  -webkit-transition: all .5s;
  visibility: hidden;
  cursor: pointer;
}
.caja2{
  position: absolute;
  bottom: 0;
  right: 0;
  border:1px solid #B2C9F6;
  background: #B2C9F6;
  color:#fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 9070;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  visibility: hidden;
  cursor: pointer;
  -webkit-transition: all 1s;
}
