@font-face {
  font-family: "Roboto";
  src: url("../../../assets/fuentes/Roboto-Regular.ttf");
}

.pointer{
  cursor: pointer;
}

.login-register {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  padding: 10% 0;
  position: fixed;
}

h1{
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  letter-spacing: 0.1em;
  -webkit-text-stroke: 1.1px white;
  color: transparent;
}

.form-style{
  margin-top: 10px;
  margin: 0 auto;
  text-align: center;
}
.form-style input{
  width: 30%;
  margin-top: 18px;
  height: 50px;
  background-color: transparent;
  border-radius: 32.5px;
  border: 1px solid white;
  box-sizing: border-box;
  color: white;
  padding-left: 20px;
}

.form-style input::placeholder{
  /* padding-left: 15px; */
  line-height: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300 !important;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-left: 10px;
}

.buttons{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons button{
  width: 40%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.4em;
  height: 50px;
  background: #80FFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
  border: none;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.redes{
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5em;
  color: #B2C9F7;
}

.redes-sociales{
  width: 30%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redes-sociales img{
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.logo{
  display: flex;
  align-items: left;
  justify-content: left;
}

.logo img{
  width: 10%;
  margin-left: 70px;
}

.login-box {
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
}

.login-box .footer {
  width: 100%;
  left: 0px;
  right: 0px;
}
.login-box .social {
  display: block;
  margin-bottom: 30px;
}

#recoverform {
  display: none;
}

.login-sidebar {
  padding: 0px;
  margin-top: 0px;
}

.login-sidebar .login-box {
  right: 0px;
  position: absolute;
  height: 100%;
}

@media (min-width:366px) and (max-width:575px) {
  .form-style input{
    width: 90%;
  }
  .buttons button{
    width: 90%;
  }
  .logo img{
    width: 60%;
    margin-left: 70px;
  }
}

@media (min-width: 576px) and (max-width:776px) {
  .form-style input{
    width: 80%;
  }
  .buttons button{
    width: 80%;
  }
  .logo img{
    width: 60%;
    margin-left: 70px;
  }
}

@media (min-width: 768px) and (max-width:991px) {
  .form-style input{
    width: 30%;
  }
  .buttons button{
    width: 30%;
  }
}

@media (min-width: 992px) and (max-width:1199px) {
  .form-style input{
    width: 30%;
  }
  .buttons button{
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .form-style input{
    width: 30%;
  }
  .buttons button{
    width: 30%;
  }
}
