<section id="wrapper" class="login-register login-sidebar">
  <div class="login-box card" style="overflow: auto;">
      <div class="card-body">
          <form #form='ngForm' class="form-horizontal form-material"
                  autocomplete="off"
                  id="loginform">

              <div class="form-group text-center m-t-20">
                <div class="col-xs-1 logo">
                  <img src="../../../assets/logoMedic/EMIMEDICclaro.png" alt="logo">
                </div>
              </div>

              <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                  <h1>LOGIN</h1>
                </div>
              </div>

              <div class="form-group form-style">
                  <div class="col-xs-12">
                      <input  type="email"
                              name="usuario"
                              id="usuario"
                              ngModel
                              required
                              placeholder="CORREO ELECTRÓNICO">
                  </div>
              </div>
              <div class="form-group form-style">
                  <div class="col-xs-6">
                      <input  type="password"
                              name="password"
                              id="password"
                              ngModel
                              required
                              placeholder="CONTRASEÑA">
                  </div>
              </div>

              <div class="form-group buttons">
                  <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded"
                          (click)="login(form)">
                    INGRESAR
                  </button>
              </div>

              <div class="form-group buttons">
                <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded"
                        [routerLink]="['/registro']">
                  REGISTRAR
                </button>
              </div>

              <div class="form-group form-style redes">
                <div class="col-xs-12 pointer" (click)="cambiarPass()">
                  ¿Has olvidado tu contraseña?
                </div>
              </div>

              <div class="row form-group form-style redes-sociales">
                <div class="col" id="insta">
                  <img src="../../../assets/logoMedic/redes/instagram_blanco.png" (click)="instagram()" alt="instagram">
                </div>
                <div class="col" id="face">
                  <img src="../../../assets/logoMedic/redes/facebook_blanco.png" (click)="facebook()" alt="facebook">
                </div>
                <div class="col" id="whats">
                  <img src="../../../assets/logoMedic/redes/whats_white.png" (click)="whatsapp()" alt="whatsapp">
                </div>
                <div class="col" id="soporte">
                  <img src="../../../assets/logoMedic/redes/apoyo.png" (click)="soporte()" alt="soporte">
                </div>
              </div>

              <div class="form-group form-style redes">
                <div class="col-xs-12">
                  EMI EXSEC
                </div>
              </div>

              <div class="form-group form-style redes">
                <div class="col-xs-12 pointer" [routerLink]="['/terminos/condiciones']">
                  TERMINOS Y CONDICIONES
                </div>
              </div>
          </form>
      </div>
  </div>
</section>



<!-- <div id="login">
  <div class="row log-in">
    <div class="col logo">
      <img src="../../../assets/logoMedic/EMIMEDICclaro.png" alt="logo">
    </div>
    <div class="col tema">
      <input type="checkbox" id="themeSwitch" name="theme-switch" class="theme-switch__input" />
      <label for="themeSwitch" class="theme-switch__label">
        <span></span>
      </label>
    </div>
  </div>

  <div class="card">
    <h1>LOGIN</h1>
    <form #form='ngForm'>
      <div>
        <input type="text" name="usuario" id="usuario" ngModel placeholder="CORREO ELECTRÓNICO" required>
      </div>
      <div>
        <input type="password" name="password" id="password" ngModel  placeholder="CONTRASEÑA" (keyup.enter)="login(form)" required>
      </div>
    </form>
    <div id="log-in">
      <button (click)="login(form)">INGRESAR</button>
    </div>
    <div id="registrar">
      <button [routerLink]="['/registro']">REGISTRAR</button>
    </div>
    <div class="redes">
      <div class="pointer" (click)="cambiarPass()">
        ¿Has olvidado tu contraseña?
      </div>
    </div>
    <div class="redes">
      <div class="row">
        <div class="col" id="insta">
          <img src="../../../assets/logoMedic/redes/instagram_blanco.png" (click)="instagram()" alt="instagram">
        </div>
        <div class="col" id="face">
          <img src="../../../assets/logoMedic/redes/facebook_blanco.png" (click)="facebook()" alt="facebook">
        </div>
        <div class="col" id="whats">
          <img src="../../../assets/logoMedic/redes/whats_white.png" (click)="whatsapp()" alt="whatsapp">
        </div>
        <div class="col" id="whats">
          <img src="../../../assets/logoMedic/redes/apoyo.png" (click)="soporte()" alt="soporte">
        </div>
      </div>
    </div>
    <div class="redes">
      <div>
        EMI EXSEC
      </div>
    </div>
    <div class="redes pointer">
      <div class="row">
        <div class="col">
          <div [routerLink]="['/terminos/condiciones']">
            TERMINOS Y CONDICIONES
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
