<div id="headr">
  <p id="title">PERFIL</p>
</div>

<div id="receta">
  <form #form='ngForm'>
    <div class="card">
      <div class="row">
        <div class="col">
          <div class="group">
            <input type="text"name="nombre" id="nombre" required tabindex=1 [(ngModel)]="user.nombre" disabled>
            <span class="highlight"></span>
            <label>Nombre</label>
          </div>
          <div class="group">
            <input type="text"name="apellidoPaterno" id="apellidoPaterno" required tabindex=2 [(ngModel)]="user.apellidoPaterno" disabled>
            <span class="highlight"></span>
            <label>Apellido Paterno</label>
          </div>
          <div class="group">
            <input type="text"name="apellidoMaterno" id="apellidoMaterno" required tabindex=3 [(ngModel)]="user.apellidoMaterno" disabled>
            <span class="highlight"></span>
            <label>Apellido Materno</label>
          </div>
          <div class="group">
            <input type="text"name="curp" id="curp" required tabindex=4 [(ngModel)]="user.curp" disabled>
            <span class="highlight"></span>
            <label>CURP</label>
          </div>
          <div class="group">
            <input type="text"name="telefono" id="telefono" required tabindex=5 [(ngModel)]="user.telefono">
            <span class="highlight"></span>
            <label>Telefono</label>
          </div>
          <div class="group">
            <input type="text"name="estado" id="estado" required tabindex=5 [(ngModel)]="user.estado">
            <span class="highlight"></span>
            <label>Estado</label>
          </div>
          <div class="group">
            <input type="text"name="consultorio" id="consultorio" required tabindex=7 [(ngModel)]="user.consultorio">
            <span class="highlight"></span>
            <label>Calle del consultorio</label>
          </div>
        </div>
        <div class="col">
          <div class="group">
            <input type="text"name="numeroExterior" id="numeroExterior" required tabindex=8 [(ngModel)]="user.numeroExterior">
            <span class="highlight"></span>
            <label>Numero exterior</label>
          </div>
          <div class="group">
            <input type="text"name="colonia" id="colonia" required tabindex=9 [(ngModel)]="user.colonia">
            <span class="highlight"></span>
            <label>Colonia del consultorio</label>
          </div>
          <div class="group">
            <input type="text"name="municipio" id="municipio" required tabindex=10 [(ngModel)]="user.municipio">
            <span class="highlight"></span>
            <label>Municipio del consultorio</label>
          </div>
          <div class="group">
            <input type="text"name="codigoPostal" id="codigoPostal" required tabindex=11 [(ngModel)]="user.codigoPostal">
            <span class="highlight"></span>
            <label>Codigo Postal</label>
          </div>
          <div class="group">
            <input type="text"name="universidad" id="universidad" required tabindex=12 [(ngModel)]="user.universidad" disabled>
            <span class="highlight"></span>
            <label>Universidad de prosedencia</label>
          </div>
          <div class="group">
            <input type="text"name="cedula" id="cedula" required tabindex=13 [(ngModel)]="user.cedula" disabled>
            <span class="highlight"></span>
            <label>Cedula</label>
          </div>
          <div class="group">
            <input type="text"name="titulo" id="titulo" required tabindex=14 [(ngModel)]="user.titulo" disabled>
            <span class="highlight"></span>
            <label>Titulo</label>
          </div>
        </div>
      </div>
      <div id="guardar">
        <button (click)="actualizar(form)">ACTUALIZAR</button>
      </div>
    </div>
  </form>
</div>
