<div id="estudios">
  <span id="title">ESTUDIOS</span>
  <li class="linea"></li>
  <div class="card">
    <div id="estudio">
      <p>ESTUDIOS</p>
      <input type="text" name="estudios" id="estudios" [(ngModel)]="estudiosPaciente.estudios" placeholder="Agregar estudios" (change)="estudios()">
    </div>
  </div>
</div>
