@font-face {
  font-family: "Roboto";
  src: url("../../../assets/fuentes/Roboto-Regular.ttf");
}
#estudios{
  #title{
    color: white;
  }
  .card{
      background-color: #DDDDDDCC;
      border-radius: 10px;
      height: 205px;
      width: 100%;
      margin-top: 10px !important;
      #estudio{
        p{
          /* margin-left: 53px; */
          margin-top: 66px;
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 3px;
          color: #000000;
        }
        input{
          width: 90%;
          /* margin-left: 53px; */
          margin-top: 5px;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid black;
        }
        ::placeholder{
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 16px;
          font-feature-settings: 'tnum' on, 'lnum' on;
          color: #4B4B4E;
        }
      }
  }
}

@media (min-width:366px) and (max-width:575px) {
  .card{
    #estudio{
      p{
        margin-left: 23px;
      }
      input{
        width: 90%;
        margin-left: 23px;
      }
    }
  }
}

@media (min-width: 576px) and (max-width:776px) {
  .card{
    #estudio{
      p{
        margin-left: 23px;
      }
      input{
        width: 90%;
        margin-left: 23px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width:991px) {
  .card{
    #estudio{
      p{
        margin-left: 23px;
      }
      input{
        width: 90%;
        margin-left: 23px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width:1199px) {
  .card{
    #estudio{
      p{
        margin-left: 23px;
      }
      input{
        width: 90%;
        margin-left: 23px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .card{
    #estudio{
      p{
        margin-left: 23px;
      }
      input{
        width: 90%;
        margin-left: 23px;
      }
    }
  }
}
