#historial{
  margin-top: 20px;
  #title{
    color: white;
  }
  .card{
    background-color: #DDDDDDCC;
    border-radius: 10px;
    height: 408px;
    width: 100%;
    margin-top: 10px !important;
    #nota{
      margin-left: 58px;
      margin-top: 55px;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 5px;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: #000000;
    }
    #cie10{
      .card{
        background-color: transparent;
        border: 1px solid black;
        border-radius: 10px;
        height: 148px;
        width: 85%;
        margin-left: 5%;
        overflow:auto;
        scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
        scrollbar-width: thin;
      }
    }
    #diagnostico{
      .card{
        background-color: transparent;
        /* border: 1px solid black; */
        border-radius: 10px;
        height: 80px;
        width: 85%;
        margin-left: 5%;
        margin-bottom: 55px;
        overflow:auto;
        scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
        scrollbar-width: thin;
        li{
          list-style:none
        }
        i{
          cursor: pointer;
          color: red;
        }
        i:hover{
          color: white;
        }
      }
    }
    input{
      /* margin-left: 58px; */
      margin-top: 5px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid black;
      /* width: 88%; */
    }
    ::placeholder{
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: #4B4B4E;
    }
  }
  .pointer{
    cursor: pointer;
  }
}

@media (min-width:366px) and (max-width:575px) {
  input{
    margin-left: 28px;
    width: 78%;
  }
}

@media (min-width: 576px) and (max-width:776px) {
  input{
    margin-left: 38px;
    width: 88%;
  }
}

@media (min-width: 768px) and (max-width:991px) {
  input{
    margin-left: 43px;
    width: 88%;
  }
}

@media (min-width: 992px) and (max-width:1199px) {
  input{
    margin-left: 48px;
    width: 88%;
  }
}

@media (min-width: 1200px) {
  input{
    margin-left: 48px;
    width: 88%;
  }
}
