<div id="historial">
  <span id="title">CREAR HISTORIAL</span>
  <li class="linea"></li>
  <form #form='ngForm'>
    <div class="card">
      <p id="nota">NOTA MÉDICA</p>
      <div>
        <input type="text" #cie ngModel name="cie" id="cie" placeholder="CIE 10" (keyup)="buscarCie10($event)">
      </div>
      <div id="cie10">
        <div class="card">
          <ul>
            <li class="itemsCie10 pointer" *ngFor="let item of encontrados">
              <span (click)="selected(item)">{{item.NOMBRE}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div id="diagnostico">
        <div class="card">
          <ul>
            <li *ngFor="let item of cie10; let i = index">
              <span>{{item.NOMBRE}}</span>
              <i class="mdi mdi-close" (click)="eliminar(i)"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>
