<section id="wrapper" class="login-register login-sidebar">
  <div class="login-box card" style="overflow: auto;">
      <div class="card-body">
          <form #form='ngForm' class="form-horizontal form-material"
                  autocomplete="off"
                  id="loginform">
              <div class="form-group text-center m-t-20">
                <div class="col-xs-1 logo">
                  <img src="../../../assets/logoMedic/EMIMEDICclaro.png" [routerLink]="['/login']" alt="logo">
                </div>
              </div>

              <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                  <h1>REGISTRO</h1>
                </div>
              </div>

              <div class="container">
                <div class="row">
                  <div class="col form-style-rigth">
                      <input  type="text"
                              name="nombre"
                              ngModel
                              id="nombre"
                              placeholder="NOMBRE"
                              required>
                  </div>
                  <div class="col form-style-left">
                    <input  type="text"
                            name="apellidoP"
                            ngModel id="apellidoP"
                            placeholder="APELLIDO PATERNO"
                            required>
                  </div>
                </div>
                <div class="row">
                  <div class="col form-style-rigth">
                      <input  type="text"
                              name="apellidoM"
                              ngModel
                              id="apellidoM"
                              placeholder="APELLIDO MATERNO"
                              required>
                  </div>
                  <div class="col form-style-left">
                    <input  type="text"
                            ngModel
                            name="curp"
                            id="curp"
                            maxlength="18"
                            placeholder="CURP"
                            (change)="validarCurp(form)"
                            required
                            pattern="([A-Z]{4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1])[HM](AS|BC|BS|CC|CL|CM|CS|CH|DF|DG|GT|GR|HG|JC|MC|MN|MS|NT|NL|OC|PL|QT|QR|SP|SL|SR|TC|TS|TL|VZ|YN|ZS|NE)[A-Z]{3}[0-9A-Z]\d)">
                  </div>
                </div>
                <div class="row">
                  <div class="col form-style-rigth">
                      <input  type="text"
                              name="cedula"
                              ngModel
                              id="cedula"
                              placeholder="CEDULA"
                              required>
                  </div>
                  <div class="col form-style-left">
                    <input  type="text"
                            ngModel
                            name="telefono"
                            id="telefono"
                            placeholder="TELEFONO"
                            maxlength="10"
                            required>
                  </div>
                </div>
                <div class="row">
                  <div class="col form-style-rigth">
                      <input  type="text"
                              name="consultorio"
                              ngModel
                              id="consultorio"
                              placeholder="CALLE DEL CONSULTORIO"
                              required>
                  </div>
                  <div class="col form-style-left">
                    <input  type="text"
                            name="numeroExterior"
                            ngModel
                            id="numeroExterior"
                            placeholder="# EXTERIOR DEL CONSULTORIO"
                            required>
                  </div>
                </div>
                <div class="row">
                  <div class="col form-style-rigth">
                      <input  type="text"
                              name="colonia"
                              ngModel
                              id="colonia"
                              placeholder="COLONIA DEL CONSULTORIO"
                              required>
                  </div>
                  <div class="col form-style-left">
                    <input  type="text"
                            name="municipio"
                            ngModel
                            id="municipio"
                            placeholder="MUNICIPIO DEL CONSULTORIO"
                            required>
                  </div>
                </div>
                <div class="row">
                  <div class="col form-style-rigth">
                      <input  type="text"
                              name="estado"
                              ngModel
                              id="estado"
                              placeholder="ESTADO"
                              required>
                  </div>
                  <div class="col form-style-left">
                    <input  type="text"
                            name="codigoPostal"
                            ngModel
                            id="codigoPostal"
                            placeholder="C.P DEL CONSULTORIO"
                            required>
                  </div>
                </div>
                <div class="row">
                  <div class="col form-style-rigth">
                      <input  type="text"
                              ngModel
                              name="universidad"
                              id="universidad"
                              placeholder="UNIVERSIDAD DE PROSEDENCIA"
                              required>
                  </div>
                  <div class="col form-style-left">
                    <input  type="text"
                            name="titulo"
                            ngModel
                            id="titulo"
                            placeholder="TITULO"
                            required>
                  </div>
                </div>
                <div class="row">
                  <div class="col form-style-rigth">
                      <input  type="text"
                              ngModel
                              name="email"
                              id="email"
                              placeholder="CORREO ELECTRONICO"
                              required>
                  </div>
                  <div class="col form-style-left">
                    <input  type="password"
                            ngModel
                            name="pass"
                            min="8"
                            id="pass"
                            placeholder="CONTRASEÑA"
                            (change)="validarPass(form)"
                            required>
                  </div>
                </div>
              </div>
              <div class="form-group buttons">
                <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded"
                        (click)='Registro(form)'>
                  REGISTRAR
                </button>
              </div>
          </form>
      </div>
  </div>
</section>

<!-- <div id="registro">
  <div class="row log-in">
    <div class="col logo pointer">
      <img src="../../../assets/logoMedic/EMIMEDICclaro.png" alt="logo" [routerLink]="['/login']">
    </div>
    <div class="col tema">
    </div>
  </div>
  <div class="card">
    <h1>REGISTRO</h1>
    <form  #form='ngForm'>
      <div class="row">
        <div class="col">
          <input type="text" name="nombre" ngModel id="nombre" placeholder="NOMBRE" required>
        </div>
        <div class="col">
          <input type="text" name="apellidoP"  ngModel id="apellidoP" placeholder="APELLIDO PATERNO" required>

        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" name="apellidoM"  ngModel id="apellidoM" placeholder="APELLIDO MATERNO" required>
        </div>
        <div class="col">
          <input type="text" ngModel name="curp" id="curp" maxlength="18" placeholder="CURP" (change)="validarCurp(form)" required pattern="([A-Z]{4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1])[HM](AS|BC|BS|CC|CL|CM|CS|CH|DF|DG|GT|GR|HG|JC|MC|MN|MS|NT|NL|OC|PL|QT|QR|SP|SL|SR|TC|TS|TL|VZ|YN|ZS|NE)[A-Z]{3}[0-9A-Z]\d)">

        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" name="cedula" ngModel id="cedula" placeholder="CEDULA" required>
        </div>
        <div class="col">
          <input type="text" ngModel name="telefono" id="telefono" placeholder="TELEFONO" maxlength="10" required>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" name="consultorio" ngModel id="consultorio" placeholder="CALLE DEL CONSULTORIO" required>
        </div>
        <div class="col">
          <input type="text" name="numeroExterior" ngModel id="numeroExterior" placeholder="# EXTERIOR DEL CONSULTORIO" required>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" name="colonia" ngModel id="colonia" placeholder="COLONIA DEL CONSULTORIO" required>
        </div>
        <div class="col">
          <input type="text" name="municipio" ngModel id="municipio" placeholder="MUNICIPIO DEL CONSULTORIO" required>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" name="estado" ngModel id="estado" placeholder="ESTADO" required>
        </div>
        <div class="col">
          <input type="text" name="codigoPostal" ngModel id="codigoPostal" placeholder="C.P DEL CONSULTORIO" required>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" ngModel name="universidad" id="universidad" placeholder="UNIVERSIDAD DE PROSEDENCIA" required>
        </div>
        <div class="col">
          <input type="text" name="titulo" ngModel id="titulo" placeholder="TITULO" required>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" ngModel name="email" id="email" placeholder="CORREO ELECTRONICO" required>
        </div>
        <div class="col">
          <input type="password" ngModel name="pass" min="8" id="pass" placeholder="CONTRASEÑA" (change)="validarPass(form)" required>
        </div>
      </div>
    </form>
    <div id="registrar">
      <button (click)='Registro(form)'>REGISTRAR</button>
    </div>
  </div>
</div> -->
