<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#/dashboard">
        <span>
          <img src="./assets/logoMedic/EMIMEDIC.png" alt="homepage" class="dark-logo logo-medic" />
        </span>
      </a>
    </div>
    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)">
            <i class="ti-menu"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)">
            <i class="ti-menu"></i>
          </a>
        </li>
        <li class="nav-item hidden-sm-down"></li>
      </ul>
      <ul class="navbar-nav my-lg-0">
        <li class="nav-item dropdown">
          <a  class="nav-link dropdown-toggle waves-effect waves-dark"
              href=""
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
            <!-- <img [src]="doctor.photoURL" alt="user" class="profile-pic" /> -->
            <img [src]="doctor.photoURL" *ngIf="doctor.photoURL!=null" alt="user" class="profile-pic pointer"/>
            <img src="../../../assets/images/users/doctora.jpg" *ngIf="doctor.photoURL==null" alt="user" class="profile-pic"/>
          </a>
          <div class="dropdown-menu dropdown-menu-right animated fadeIn fast">
            <ul class="dropdown-user">
              <li>
                <div class="dw-user-box">
                  <div class="u-img">
                    <img [src]="doctor.photoURL" alt="user">
                  </div>
                  <div class="u-text">
                    <!-- <h4>{{doctor.displayName}}</h4> -->
                    <h4 *ngIf="doctor.genero == 'MASCULINO'">Hola, Dr.{{doctor.displayName}}</h4>
                    <h4 *ngIf="doctor.genero == 'FEMENINO'">Hola, Dra.{{doctor.displayName}}</h4>
                    <a class="btn btn-rounded btn-danger btn-sm pointer" [routerLink]="['/dashboard/perfil']">
                      Editar perfil
                    </a>
                  </div>
                </div>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a class="pointer" (click)="upload()">
                  <i class="ti-user"></i>
                  Cambiar foto
                </a>
              </li>
              <li>
                <a class="pointer" (click)="uploadEscuela()">
                  <i class="ti-settings"></i>
                  Foto universitaria
                </a>
              </li>
              <li>
                <a class="pointer" [routerLink]="['agregar/datos/facturacion']">
                  <i class="ti-receipt"></i>
                  Datos de facturación
                </a>
              </li>
              <li>
                <a class="pointer" href="../../../assets/FORMATO SUIVE.pdf" download="FORMATO SUIVE">
                  <i class="ti-book"></i>
                  SUIVE
                </a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a class="cursor pointer" (click)="cerrarSesion()">
                  <i class="fa fa-power-off"></i>
                  Cerra sesión
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- <header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto input-icono" id="input_container">
      </ul>

      <ul class="navbar-nav my-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span *ngIf="doctor.genero == 'MASCULINO'" [routerLink]="['/dashboard/perfil']">Hola, Dr.{{doctor.displayName}}</span>
            <span *ngIf="doctor.genero == 'FEMENINO'" [routerLink]="['/dashboard/perfil']">Hola, Dra.{{doctor.displayName}}</span>
            <img [src]="doctor.photoURL" *ngIf="doctor.photoURL!=null" alt="user" class="profile-pic pointer" (click)="upload()"/>
            <img src="../../../assets/images/users/doctora.jpg" *ngIf="doctor.photoURL==null" alt="user" class="profile-pic" (click)="upload()"/>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header> -->
