.container-fluid{
  height: calc(100% - 70px);
  #guardar{
    display: flex;
    align-items: center;
    justify-content: center;
    button{
      width: 80%;
      height: 40px;
      background-color: #B2C9F6;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      border: none;
      font-weight: bold;
    }
  }
}
