<div class="container-fluid">
  <app-nota-medica (notaMedico)="notaMedico($event)"></app-nota-medica>

  <app-receta [paciente]="paciente" (recetaMedica)="receta($event)"></app-receta>

  <app-estudios (recetaMedica)="estudios($event)"></app-estudios>

  <div class="row">
    <div class="col" id="guardar">
      <button (click)="enviar()">GUARDAR</button>
    </div>
    <!-- <div class="col" id="guardar">
      <button (click)="recetaPDF()">IMPRIMIR</button>
    </div> -->
  </div>

</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "fire" [fullScreen] = "true"><p style="color: white" > Descargando... </p></ngx-spinner>
