<div id="receta">
  <span id="title">ANTECENDENTES PERSONALES NO PATOLÓGICOS</span>
  <form #form='ngForm'>
    <div class="card">
      <div class="row">
        <div class="col">
          <div class="group">
            <input type="number" min="0" name="tabaquismo" id="tabaquismo" [(ngModel)]="datos.tabaquismo" required tabindex=16 (change)="enviar(form)" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Tabaquismo ¿Cuántos por dia?</label>
          </div>
          <!-- <div id="inpt">
            <input type="number" min="0" name="tabaquismo" id="tabaquismo" ngModel placeholder="Tabaquismo ¿Cuántos por dia?" tabindex=16 (change)="enviar(form)">
          </div> -->
          <div class="group">
            <input type="number" min="0" name="alcoholismo" id="alcoholismo" required tabindex=19 [(ngModel)]="datos.alcoholismo" (change)="enviar(form)" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Alcoholismo ¿Cuántas copas por semana?</label>
          </div>
          <!-- <div id="inpt">
            <input type="number" min="0" name="alcoholismo" id="alcoholismo" placeholder="Alcoholismo ¿Cuántas copas por semana?" tabindex=19 ngModel (change)="enviar(form)">
          </div> -->
          <div id="inpt">
            <label style="margin-left: 15px;">Alergias</label>
            <select name="alergias" id="alergias" tabindex=22 [(ngModel)]="datos.alergias" (change)="enviar(form)" [disabled]="habilitar">
              <option value="">Alergias</option>
              <option value="SI">Si</option>
              <option value="NO">No</option>
            </select>
          </div>
          <div id="inpt">
            <label style="margin-left: 15px;">Alimentación adecuada</label>
            <select name="alimentacion" id="alimentacion" tabindex=25 [(ngModel)]="datos.alimentacion" (change)="enviar(form)" [disabled]="habilitar">
              <option value="">Alimentación adecuada</option>
              <option value="SI">Si</option>
              <option value="NO">No</option>
            </select>
          </div>
          <div class="group">
            <input type="text"name="drogadiccion" id="drogadiccion" required tabindex=27 [(ngModel)]="datos.drogadiccion" (change)="enviar(form)" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Drogadicción (Tipo)</label>
          </div>
          <!-- <div id="inpt">
            <input type="text"name="drogadiccion" id="drogadiccion" placeholder="Drogadicción (Tipo)" required tabindex=27 ngModel (change)="enviar(form)">
          </div> -->
        </div>
        <div class="col">
          <div class="group">
            <input type="text" min="0" name="aniosConsumoCigarro" id="aniosConsumoCigarro" required tabindex=17 [(ngModel)]="datos.aniosConsumoCigarro" (change)="enviar(form)" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Años de consumo</label>
          </div>
          <!-- <div id="inpt">
            <input type="text" min="0" name="añosConsumoCigarro" id="añosConsumoCigarro" placeholder="Años de consumo" required tabindex=17 ngModel (change)="enviar(form)">
          </div> -->
          <div class="group" style="margin-bottom: 44px;">
            <input type="text" min="0" name="aniosConsumoAlcohol" id="aniosConsumoAlcohol" required tabindex=20 [(ngModel)]="datos.aniosConsumoAlcohol" (change)="enviar(form)" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Años de consumo</label>
          </div>
          <!-- <div id="inpt">
            <input type="text" min="0" name="añosConsumoAlcohol" id="añosConsumoAlcohol" placeholder="Años de consumo" required tabindex=20 ngModel (change)="enviar(form)">
          </div> -->
          <div class="group">
            <input type="text" min="0" name="tipoAlergia" id="tipoAlergia" required tabindex=23 [(ngModel)]="datos.tipoAlergia" (change)="enviar(form)" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Tipo</label>
          </div>
          <!-- <div id="inpt">
            <input type="text" min="0" name="tipoAlergia" id="tipoAlergia" placeholder="Tipo" required tabindex=23 ngModel (change)="enviar(form)">
          </div> -->
          <div id="inpt" style="margin-bottom: 60px;">

          </div>
          <div class="group">
            <input type="text"name="aniosConsumoDrogas" id="aniosConsumoDrogas" required tabindex=28 [(ngModel)]="datos.aniosConsumoDrogas" (change)="enviar(form)" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Años de consumo</label>
          </div>
          <!-- <div id="inpt">
            <input type="text"name="añosConsumoDrogas" id="añosConsumoDrogas" placeholder="Años de consumo" required tabindex=28 ngModel (change)="enviar(form)">
          </div> -->
        </div>
        <div class="col">
          <div class="group">
            <input type="text" min="0" name="exfumador" id="exfumador" required tabindex=18 [(ngModel)]="datos.exfumador" (change)="enviar(form)" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Exfumardor o tabaquismo pasivo</label>
          </div>
          <!-- <div id="inpt">
            <input type="text" min="0" name="exfumador" id="exfumador" placeholder="Exfumardor o tabaquismo pasivo" required tabindex=18 ngModel (change)="enviar(form)">
          </div> -->
          <div class="group">
            <input type="text" name="exalcoholico" id="exalcoholico" required tabindex=21 [(ngModel)]="datos.exalcoholico" (change)="enviar(form)" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Exalcohólico y/u ocasional</label>
          </div>
          <!-- <div id="inpt">
            <input type="number" min="0" name="exalcoholico" id="exalcoholico" placeholder="Exalcohólico y/u ocasional" required tabindex=21 ngModel (change)="enviar(form)">
          </div> -->
          <div id="inpt">
            <label style="margin-left: 15px;">Tipo sanguíneo</label>
            <select name="tipoSanguineo" id="tipoSanguineo" tabindex=24 [(ngModel)]="datos.tipoSanguineo" (change)="enviar(form)" [disabled]="habilitar">
              <option value="">Tipo sanguíneo</option>
              <option value="AB+">AB+</option>
              <option value="AB-">AB-</option>
              <option value="A+">A+</option>
              <option value="A-">A-</option>
              <option value="B+">B+</option>
              <option value="B-">B-</option>
              <option value="O+">O+</option>
              <option value="O-">O-</option>
            </select>
          </div>
          <div id="inpt">
            <label style="margin-left: 15px;">Vivienda con servícios básicos</label>
            <select name="vivienda" id="vivienda" tabindex=26 [(ngModel)]="datos.vivienda" (change)="enviar(form)" [disabled]="habilitar">
              <option value="">Vivienda con servícios básicos</option>
              <option value="SI">Si</option>
              <option value="NO">No</option>
            </select>
          </div>
          <div class="group">
            <input type="text"name="exdrogradicto" id="exdrogradicto" required tabindex=29 [(ngModel)]="datos.exdrogradicto" (change)="enviar(form)" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Exdrogadicto</label>
          </div>
          <!-- <div id="inpt">
            <input type="text"name="exdrogradicto" id="exdrogradicto" placeholder="Exdrogadicto" required tabindex=29 ngModel (change)="enviar(form)">
          </div> -->
        </div>
      </div>
    </div>
  </form>
</div>
