<div class="container-fluid">
  <div class="col" id="medicamentos">
    <div class="row">
      <div class="col-md-8">
        <span id="title">MEDICAMENTOS</span>
      </div>
      <div class="col" id="boton">
        <button [routerLink]="['/dashboard/agregar/medicamento']">AGREGAR MEDICAMENTO</button>
      </div>
    </div>
    <div class="consultass">
      <div class="card" *ngFor="let item of medicamentos" >
        <div class="row pointer">
          <div class="col-md-1">
            <img src="../../../assets/icons/pacienta.svg" alt="">
          </div>
          <div class="col-md-1" id="horario">
            <span>{{item.medicamento.codigo}}</span>
          </div>
          <div class="col-md-3" id="horario">
            <span>{{item.medicamento.nombreCientifico}}</span>
          </div>
          <div class="col-md-1" id="horario">
            <span>{{item.medicamento.dosis}}</span>
          </div>
          <div class="col" id="horario">
            <span>{{item.medicamento.formaFarmaceutica}}</span>
          </div>
          <div class="col-md-2" id="horario">
            <span>{{item.medicamento.fechaCaducidad}}</span>
          </div>
          <div class="col" id="horario">
            <span>{{item.medicamento.cantidad}}</span>
          </div>
          <div class="col" id="horario">
            <i class="mdi mdi-pencil" id="editar" (click)="editarMedicamento(item.medicamento,item.idMedicamento)"></i>
          </div>
          <div class="col" id="horario">
            <i class="mdi mdi-delete-empty" id="eliminar" (click)="eliminarMedicamento(item.idMedicamento)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
