.container-fluid{
  height: calc(100% - 80px);
  margin-top: 35px;
  #medicamentos{
    height: 470px;
    #title{
      color: white;
      font-size: 2.1rem;
    }
    .card{
      background-color: #B2C9F6;
      color: black;
      border-radius: 10px;
      height: 95px;
      width: 95%;
      margin-top: 10px !important;
      .row{
        img{
          height: 95px;
          width: 100px;
        }
        #horario{
          display: table;
          span{
            display: table-cell;
            vertical-align: middle;
          }
          i{
            display: table-cell;
            vertical-align: middle;
          }
          #editar:hover{
            color: green;
          }
          #eliminar:hover{
            color: red;
          }
          text-align: left;
          font-weight: bold;
          font-size: 1.4rem;
        }
        #paciente{
          text-align: left;
          font-weight: normal;
          font-size: 1rem;
        }
      }
    }
  }
}

#boton{
  display: flex;
  align-items: center;
  justify-content: center;
  button{
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    border: none;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.4em;
  }
}

.consultass{
  overflow: auto;
  height: 500px;
}

.consultass::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  display: none;  /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.consultass::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.consultass::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.consultass::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.consultass::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.consultass::-webkit-scrollbar-track:hover,
.consultass::-webkit-scrollbar-track:active {
background: #d4d4d4;
}
