<div class="container-fluid">
  <div class="col" id="pacientes">
    <span id="title">ACTIVAR DOCTORES</span>
    <li class="nav-devider-2"></li>
    <div class="card" *ngFor="let item of doctores" id="pdf">
      <div class="row">
        <div class="col-md-2">
          <img src="../../../assets/icons/pacienta.svg" alt="">
        </div>
        <div class="col-md-2" id="horario">
          <span></span>
        </div>
        <div class="col" id="paciente">
          <span>{{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}}</span>
        </div>
        <div class="col-md-2" id="edad">
          <div *ngIf="item.stado !== true">
            <button id="activar" (click)="activarUsuario(item)"> ACTIVAR </button>
          </div>
          <div *ngIf="item.stado !== false">
            <button id="desactivar" (click)="desactivarUsuario(item)"> DESACTIVAR </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
