<div id="receta">
  <span id="title">ANTECENDENTES GINECOBSTÉTRICOS</span>
  <form #form='ngForm'>
    <div class="card">
      <div class="row">
        <div class="col">
          <div id="inpt">
            <label>¿Embarazo actualmente?</label>
            <select name="embarazada" id="embarazada" [(ngModel)]="datos.embarazada" tabindex=30 (change)="enviar(form)" [disabled]="habilitar">
              <option value="">¿Embarazo actualmente?</option>
              <option value="SI">Si</option>
              <option value="NO">No</option>
            </select>
          </div>
          <div id="inpt">
            <label>¿Embarazada de alto riesgo?</label>
            <select name="embarazoRiesgo" id="embarazoRiesgo" [(ngModel)]="datos.embarazoRiesgo" tabindex=31 (change)="enviar(form)" [disabled]="habilitar">
              <option value="">¿Embarazada de alto riesgo?</option>
              <option value="SI">Si</option>
              <option value="NO">No</option>
            </select>
          </div>
          <div id="inpt">
            <p style="margin-left: 15px; margin-bottom: -20px;">Administración de:</p>
            <div class="row">
              <div class="col">
                <div class="group">
                  <input type="number" min="0" name="hierro" [(ngModel)]="datos.hierro" id="hierro" required tabindex=32 (change)="enviar(form)" [disabled]="habilitar">
                  <span class="highlight"></span>
                  <label>Hierro</label>
                </div>
                <!-- <input type="number" min="0" name="hierro" ngModel id="hierro" placeholder="Hierro" required tabindex=32 (change)="enviar(form)"> -->
              </div>
              <div class="col">
                <div class="group">
                  <input type="number" min="0" name="acidoFolico" [(ngModel)]="datos.acidoFolico" id="acidoFolico" required tabindex=33 (change)="enviar(form)" [disabled]="habilitar">
                  <span class="highlight"></span>
                  <label>Ácido fólico</label>
                </div>
                <!-- <input type="number" min="0" name="acidoFolico" ngModel id="acidoFolico" placeholder="Acido folico" required tabindex=33 (change)="enviar(form)"> -->
              </div>
            </div>
          </div>
          <div class="groupFecha">
            <input type="text" name="fechaAdministracion" [(ngModel)]="datos.fechaAdministracion" id="fechaAdministracion" required tabindex=34 (change)="enviar(form)" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Fecha de administración</label>
          </div>
          <!-- <div id="inpt">
            <input type="date" name="fechaAdministracion" ngModel id="fechaAdministracion" placeholder="Fecha" required tabindex=34 (change)="enviar(form)">
          </div> -->
          <div id="inpt">
            <label>¿Método anticonceptivo después del parto?</label>
            <select name="metodoAnticonceptivo" id="metodoAnticonceptivo" [(ngModel)]="datos.metodoAnticonceptivo" tabindex=35 (change)="enviar(form)" [disabled]="habilitar">
              <option value="">¿Método anticonceptivo después del parto?</option>
              <option value="SI">Si</option>
              <option value="NO">No</option>
            </select>
          </div>
          <div class="group">
            <input type="text"name="inicioVidaSexual" id="inicioVidaSexual" [(ngModel)]="datos.inicioVidaSexual" required tabindex=36 (change)="enviar(form)" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Inicio de la vida sexual activa</label>
          </div>
          <!-- <div id="inpt">
            <input type="text"name="inicioVidaSexual" id="inicioVidaSexual" ngModel placeholder="Inicio de la vida sexual activa" required tabindex=36 (change)="enviar(form)">
          </div> -->
          <div class="groupFecha">
            <input type="text"name="fechaUltimoParto" id="fechaUltimoParto" [(ngModel)]="datos.fechaUltimoParto" required tabindex=37 (change)="enviar(form)" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Fecha del ultimo parto</label>
          </div>
          <!-- <div id="inpt">
            <input type="date"name="fechaUltimoParto" id="fechaUltimoParto" ngModel placeholder="Fecha del ultimo parto" required tabindex=37 (change)="enviar(form)">
          </div> -->
          <div class="groupFecha">
            <input type="text"name="crecimientoVellosPubicos" id="crecimientoVellosPubicos" [(ngModel)]="datos.crecimientoVellosPubicos" required tabindex=38 (change)="enviar(form)" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Crecimiento de vellos pubicos</label>
          </div>
          <!-- <div id="inpt">
            <input type="date"name="crecimientoVellosPubicos" id="crecimientoVellosPubicos" ngModel placeholder="Crecimiento de vellos pubicos" required tabindex=38 (change)="enviar(form)">
          </div> -->
          <div class="groupFecha">
            <input type="text"name="metodoPlanif" id="metodoPlanif" [(ngModel)]="datos.metodoPlanif" required tabindex=39 (change)="enviar(form)" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Tipo de método de planificación</label>
          </div>
          <!-- <div id="inpt">
            <input type="date"name="metodoPlanif" id="metodoPlanif" ngModel placeholder="Tipo de método de planif" required tabindex=39 (change)="enviar(form)">
          </div> -->
        </div>
        <div class="col">
          <div id="inpt" style="margin-top:-30px;">
            <div class="row">
              <div class="col">
                <div class="group">
                  <input type="number" min="0" name="gestas" [(ngModel)]="datos.gestas" id="gestas" required tabindex=40 (change)="enviar(form)" [disabled]="habilitar">
                  <span class="highlight"></span>
                  <label>Gestas</label>
                </div>
                <!-- <input type="number" min="0" name="gestas" ngModel id="gestas" placeholder="Gestas" required tabindex=40 (change)="enviar(form)"> -->
              </div>
              <div class="col">
                <div class="group">
                  <input type="number" min="0" name="partos" [(ngModel)]="datos.partos" id="partos" required tabindex=41 (change)="enviar(form)" [disabled]="habilitar">
                  <span class="highlight"></span>
                  <label>Partos</label>
                </div>
                <!-- <input type="number" min="0" name="partos" ngModel id="partos" placeholder="Partos" required tabindex=41 (change)="enviar(form)"> -->
              </div>
              <div class="col">
                <div class="group">
                  <input type="number" min="0" name="cesareas" [(ngModel)]="datos.cesareas" id="cesareas" required tabindex=42 (change)="enviar(form)" [disabled]="habilitar">
                  <span class="highlight"></span>
                  <label>Cesáreas</label>
                </div>
                <!-- <input type="number" min="0" name="cesareas" ngModel id="cesareas" placeholder="Cesáreas" required tabindex=42 (change)="enviar(form)"> -->
              </div>
              <div class="col">
                <div class="group">
                  <input type="number" min="0" name="abortos" [(ngModel)]="datos.abortos" id="aborto" required tabindex=43 (change)="enviar(form)" [disabled]="habilitar">
                  <span class="highlight"></span>
                  <label>Abortos</label>
                </div>
                <!-- <input type="number" min="0" name="abortos" ngModel id="aborto" placeholder="Abortos" required tabindex=43 (change)="enviar(form)"> -->
              </div>
            </div>
          </div>
          <div class="group">
            <input type="text" min="0" name="ultimoPapanicola" [(ngModel)]="datos.ultimoPapanicola" id="ultimoPapanicola" required tabindex=44 (change)="enviar(form)" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Último papanicolao</label>
          </div>
          <!-- <div id="inpt">
            <input type="text" min="0" name="ultimoPapanicola" ngModel id="ultimoPapanicola" placeholder="Último papanicolao" required tabindex=44 (change)="enviar(form)">
          </div> -->
          <div class="group">
            <input type="text" min="0" name="ultimaColposcopia" [(ngModel)]="datos.ultimaColposcopia" id="ultimaColposcopia" required tabindex=45 (change)="enviar(form)" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Última colposcopía</label>
          </div>
          <!-- <div id="inpt">
            <input type="number" min="0" name="ultimaColposcopia" ngModel id="ultimaColposcopia" placeholder="Última colposcopía" required tabindex=45 (change)="enviar(form)">
          </div> -->
          <div class="group">
            <input type="text" min="0" name="ultimaRevisionMamaria" [(ngModel)]="datos.ultimaRevisionMamaria" id="ultimaRevisionMamaria" required tabindex=46 (change)="enviar(form)" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Última revisión mamaria</label>
          </div>
          <!-- <div id="inpt">
            <input type="number" min="0" name="ultimaRevisionMamaria" ngModel id="ultimaRevisionMamaria" placeholder="Última revisión mamaria" required tabindex=46 (change)="enviar(form)">
          </div> -->
          <div id="inpt">
            <p style="margin-left: 15px; margin-bottom: -20px;">Nacidos:</p>
            <div class="row">
              <div class="col">
                <div class="group">
                  <input type="number" min="0" name="nacidosVivos" [(ngModel)]="datos.nacidosVivos" id="nacidosVivos" required tabindex=47 (change)="enviar(form)" [disabled]="habilitar">
                  <span class="highlight"></span>
                  <label>Vivos</label>
                </div>
                <!-- <input type="number" min="0" name="nacidosVivos" ngModel id="nacidosVivos" placeholder="Vivos" required tabindex=47 (change)="enviar(form)"> -->
              </div>
              <div class="col">
                <div class="group">
                  <input type="number" min="0" name="nacidosMuertos" [(ngModel)]="datos.nacidosMuertos" id="nacidosMuertos" required tabindex=48 (change)="enviar(form)" [disabled]="habilitar">
                  <span class="highlight"></span>
                  <label>Muertos</label>
                </div>
                <!-- <input type="number" min="0" name="nacidosMuertos" ngModel id="nacidosMuertos" placeholder="Muertos" required tabindex=48 (change)="enviar(form)"> -->
              </div>
            </div>
          </div>
          <div class="group">
            <input type="text"name="primeraMenstruasion" [(ngModel)]="datos.primeraMenstruasion" id="primeraMenstruasion" required tabindex=49 (change)="enviar(form)" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>1era Menstruación</label>
          </div>
          <!-- <div id="inpt">
            <input type="text"name="primeraMenstruasion" ngModel id="primeraMenstruasion" placeholder="1era Menstruación" required tabindex=49 (change)="enviar(form)">
          </div> -->
          <div class="group">
            <input type="text"name="crecimientoPechos" [(ngModel)]="datos.crecimientoPechos" id="crecimientoPechos" required tabindex=50 (change)="enviar(form)" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Crecimiento de pechos</label>
          </div>
          <!-- <div id="inpt">
            <input type="text"name="crecimientoPechos" ngModel id="crecimientoPechos" placeholder="Crecimiento de pechos" required tabindex=50 (change)="enviar(form)">
          </div> -->
          <div class="group">
            <input type="text"name="primerEmbarazo" [(ngModel)]="datos.primerEmbarazo" id="primerEmbarazo" required tabindex=51 (change)="enviar(form)" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Primer embarazo</label>
          </div>
          <!-- <div id="inpt">
            <input type="text"name="primerEmbarazo" ngModel id="primerEmbarazo" placeholder="Primer embarazo" required tabindex=51 (change)="enviar(form)">
          </div> -->
          <div class="groupFecha">
            <input type="text"name="primerEmbarazoFecha" [(ngModel)]="datos.primerEmbarazoFecha" id="primerEmbarazoFecha" required tabindex=52 (change)="enviar(form)" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Fecha del primer embarazo</label>
          </div>
          <!-- <div id="inpt">
            <input type="date"name="primerEmbarazoFecha" ngModel id="primerEmbarazoFecha" placeholder="Fecha" required tabindex=52 (change)="enviar(form)">
          </div> -->
        </div>
      </div>
    </div>
  </form>
</div>
