<div class="container-fluid">

  <app-antecendentes-heredo-familiares (antecedentesHeredoFami)="familiares($event)"></app-antecendentes-heredo-familiares>

  <app-antecendentes-personales-patologicos (pato)="patologico($event)"></app-antecendentes-personales-patologicos>

  <app-antecendentes-personales-no-patologicos (antecedentesPersonalesNoPatologicos)="noPatologicos($event)"></app-antecendentes-personales-no-patologicos>

  <app-antecendentes-ginecobstetricos (antecedentesGineco)="gineco($event)" *ngIf="genero == 'Femenino' && edad > 12"></app-antecendentes-ginecobstetricos>

  <div class="row">
    <div class="col" id="guardar">
      <button (click)="guardarHitoriaClinica()">GUARDAR</button>
    </div>
  </div>
</div>
