<div class="container-fluid">
  <div class="col" id="pacientes">
    <span id="title">BITACORA</span>
    <li class="nav-devider-2"></li>
    <div class="row" id="buscador">
      <div class="col-md-5">
        <div class="card">
          <div class="row">
            <div class="col-md-3">
              <label>DESDE:</label>
            </div>
            <div class="col-md-9">
              <input type="date" [(ngModel)]="valorDesde" #FilterName>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card">
          <div class="row">
            <div class="col-md-3">
              <label>HASTA:</label>
            </div>
            <div class="col-md-9">
              <input type="date" [(ngModel)]="valorHasta">
            </div>
          </div>
        </div>
      </div>
      <div class="col" id="boton">
        <button (click)="obtenerFecha()">BUSCAR</button>
      </div>
    </div>
    <div class="card" *ngFor="let item of porFecha" id="pdf">
      <div class="row">
        <div class="col-md-2">
          <img src="../../../assets/icons/pacienta.svg" alt="">
        </div>
        <div class="col-md-2" id="horario">
          <span>{{item.fechaInicio | date:'mediumDate'}}</span>
        </div>
        <div class="col" id="paciente">
          <span>{{item.paciente.nombre}} {{item.paciente.apellidoPaterno}} {{item.paciente.apellidoMaterno}}</span>
        </div>
        <div class="col-md-2" id="edad">
          <span>{{item.edad}} años</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="inprimir">
  <button (click)="DescargarPDF()" >Descargar Bitácora</button>
</div>
