@font-face {
  font-family: "Roboto";
  src: url("../../../assets/fuentes/Roboto-Regular.ttf");
}
.container-fluid{
  height: calc(100% - 70px);
  #pacientes{
    margin-top: 20px;
    #title{
      color: white;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.15em;
    }
    .card{
      background-color: #B2C9F6;
      color: black;
      border-radius: 10px;
      height: 75px;
      width: 100%;
      margin-top: 10px !important;
      .row{
        img{
          height: 75px;
          width: 100px;
        }
        #horario{
         /*  text-align: left;
          margin-top: 20px; */
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          /* font-size: 24px; */
          line-height: 28px;
          letter-spacing: 0.1em;
          color: #000000;
        }
        #paciente{
          /* text-align: left;
          margin-top: 25px; */
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          /* font-size: 18px; */
          line-height: 21px;
          letter-spacing: 0.1em;
          color: #000000;
        }
        #edad{
          /* text-align: left;
          margin-top: 25px; */
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          /* font-size: 18px; */
          line-height: 21px;
          letter-spacing: 0.1em;
          color: #000000;
        }
      }
    }
  }
  #buscador{
    .card{
      background-color: transparent;
      border: 1px solid white;
      height: 70%;
      width: 100%;
      align-items: center;
      padding-top: 15px;
      label{
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
      }
      input{
        background-color: transparent;
        color: white;
        border: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
      }
      ::-webkit-calendar-picker-indicator {
        cursor: pointer;
        border-radius: 4px;
        margin-right: 2px;
        filter: invert(1);
      }
      ::-webkit-date-and-time-value{ text-align:left; }
    }
    #boton{
      display: flex;
      align-items: center;
      justify-content: center;
      button{
        width: 100%;
        height: 50px;
        background-color: #FFFFFF;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        border: none;
        font-weight: bold;
        color: black;
        margin-bottom: 10px;
        font-family: Roboto;
        font-style: normal;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.4em;
      }
    }
  }
}

#inprimir{
  display: flex;
  align-items: center;
  justify-content: center;
  button{
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    border: none;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.4em;
  }
}

@media (min-width:366px) and (max-width:575px) {
  #pacientes{
    .card{
      .row{
        #horario{
          text-align: center;
          margin-top: -68px;
          font-size: 17px;
        }
        #paciente{
          text-align: left;
          margin-left: 91px;
          margin-top: -39px;
          font-size: 14px;
        }
        #edad{
          text-align: center;
          margin-top: -19px;
          font-size: 18px;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width:776px) {
  #pacientes{
    .card{
      .row{
        #horario{
          text-align: center;
          margin-top: -68px;
          font-size: 17px;
        }
        #paciente{
          text-align: center;
          margin-top: -39px;
          font-size: 14px;
        }
        #edad{
          text-align: center;
          margin-top: -19px;
          font-size: 18px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width:991px) {
  #pacientes{
    .card{
      .row{
        #horario{
          text-align: left;
          margin-top: 20px;
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0.1em;
          color: #000000;
        }
        #paciente{
          text-align: left;
          margin-top: 25px;
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 0.1em;
          color: #000000;
        }
        #edad{
          text-align: left;
          margin-top: 25px;
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 0.1em;
          color: #000000;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width:1199px) {
  #pacientes{
    .card{
      .row{
        #horario{
          text-align: left;
          margin-top: 20px;
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 28px;
          letter-spacing: 0.1em;
          color: #000000;
        }
        #paciente{
          text-align: left;
          margin-top: 25px;
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 0.1em;
          color: #000000;
        }
        #edad{
          text-align: left;
          margin-top: 25px;
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 0.1em;
          color: #000000;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  #pacientes{
    .card{
      .row{
        #horario{
          text-align: left;
          margin-top: 20px;
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 28px;
          letter-spacing: 0.1em;
          color: #000000;
        }
        #paciente{
          text-align: left;
          margin-top: 25px;
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 0.1em;
          color: #000000;
        }
        #edad{
          text-align: left;
          margin-top: 25px;
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 0.1em;
          color: #000000;
        }
      }
    }
  }
}

