<aside class="left-sidebar">
  <div class="scroll-sidebar">
      <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <li class="nav-devider"></li>
            <li *ngFor="let item of menuItems" (click)="imagen(item)">
              <a class="has-arrow waves-effect waves-dark" [routerLink]="[item.ruta]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"   aria-expanded="false">
                <i [class]="item.icono"></i>
                <span class="hide-menu">
                  {{ item.titulo }}
                </span>
              </a>
            </li>
            <!-- <li>
              <a class="has-arrow waves-effect waves-dark menuSeparado" href="../../../assets/FORMATO SUIVE.pdf" download="FORMATO SUIVE">
                  <i class="mdi mdi-book-open-page-variant"></i>
                  <span class="hide-menu">
                    SUIVE
                  </span>
              </a>
            </li> -->
          </ul>
      </nav>
      <div class="navbar-footer">
        <a class="navbar-brand">
          <div id="doctor">
            <span>
              <img [src]="image" alt="">
            </span>
          </div>
        </a>
      </div>
  </div>
</aside>


<!-- <aside class="left-sidebar">
  <div class="scroll-sidebar">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://emimedic-4e8cd.web.app/dashboard">
        <span>
          <img src="./assets/logoMedic/EMIMEDIC.png" alt="homepage" class="dark-logo" />
        </span>
      </a>
    </div>
      <nav class="sidebar-nav">
          <ul id="sidebarnav">
              <li class="nav-devider"></li>
              <li *ngFor="let item of menuItems" (click)="imagen(item)">
                  <a class="has-arrow waves-effect waves-dark" [routerLink]="[item.ruta]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"   aria-expanded="false">
                      <i [class]="item.icono"></i>
                      <span class="hide-menu">
                          {{ item.titulo }}
                      </span>
                  </a>
              </li>
              <li>
                <a class="has-arrow waves-effect waves-dark menuSeparado" href="../../../assets/FORMATO SUIVE.pdf" download="FORMATO SUIVE">
                    <i class="mdi mdi-book-open-page-variant"></i>
                    <span class="hide-menu">
                      SUIVE
                    </span>
                </a>
              </li>
              <li>
                <a class="has-arrow waves-effect waves-dark menuSeparado" (click)="cerrarSesion()">
                    <i class="mdi mdi-logout"></i>
                    <span class="hide-menu">
                      CERRAR SESIÓN
                    </span>
                </a>
              </li>
          </ul>
        </nav>

        <div class="navbar-footer">
          <a class="navbar-brand">
            <div id="doctor">
              <span>
                <img [src]="image" alt="">
              </span>
            </div>
          </a>
        </div>
  </div>
</aside>
 -->
