@font-face {
  font-family: "Roboto";
  src: url("../../../assets/fuentes/Roboto-Regular.ttf");
}

#icons{
    height: 30px;
    width: 30px;
}

#doctor{
    img{
        margin-top: 100px;
        height: 230px;
        width: 240px;
    }
}

#sidebarnav{
  span{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    /* color: #646468; */
  }
}

.navbar-header{
  display: flex;
  justify-content: center;
  img{
    height: 50px;
    width: 150px;
  }
}

.menuSeparado span:hover{
  color:#0C0B66
}
