.container-fluid{
  /* height: calc(100% - 70px); */
  #buscador{
    position: fixed;
    display: block;
    z-index: 500 !important;
    #input{
      border-radius: 15px;
      background-color: #DDDDDD;
      border: none;
      text-align: center;
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
    }

    #input_img {
      position:absolute;
    }

    #buscar{
      border-radius: 15px;
      height: 45px;
      width: 20rem;
      background-color: transparent;
      border: none;
      position: fixed;
      color: #DDDDDD;
      list-style:none;
    }

    ::placeholder {
      color: black;
      font-size: 1em;
      text-align: center;
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
    }
  }
  #agenda{
    height: 470px;
    #title{
      color: white;
    }
    .historico{
      a{
        width: 70%;
        height: 40px;
        background-color: #B2C9F6;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        border: none;
        font-weight: bold;
        padding: 10px;
      }
    }
    .card{
      background-color: #B2C9F6;
      color: black;
      border-radius: 10px;
      height: 75px;
      /* width: 75%; */
      margin-top: 10px !important;
      .row{
        img{
          height: 75px;
          width: 100px;
        }
        #horario{
          text-align: left;
          font-weight: bold;
          font-size: 1.4rem;
        }
        #paciente{
          text-align: left;
          font-weight: normal;
          font-size: 1rem;
        }
      }
    }
    #historial{
      display: flex;
        align-items: center;
        justify-content: center;
        button{
          width: 70%;
          height: 40px;
          background-color: #B2C9F6;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          border-radius: 20px;
          border: none;
          font-weight: bold;
        }
    }
  }

  #formulario{
    background-color: #DDDDDD;
    color: black;
    border-radius: 10px;
    height: 95%;
    margin-top: 10px !important;
    #form{
      div{
        margin-top: 5px;
        padding: 10px;

      }
      #inpt{
        input{
          margin: 0px 0px 0px 10px;
          width: 90%;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #000000;
          color: #4B4B4E;
          font-size: .8rem;
          ::placeholder{
            color: #4B4B4E;
            font-size: .8rem;
          }
        }
      }
      #genero{
        p{
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 16px;
          font-feature-settings: 'tnum' on, 'lnum' on;
          color: #4B4B4E;
          margin-left: 30px;
          margin-bottom: 25px;
        }
        div{
          margin-left: 10px;
          margin-top: -20px;
          label{
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            font-feature-settings: 'tnum' on, 'lnum' on;
            color: #4B4B4E;
            margin-left: 0px !important;
          }
        }
      }
      #guardar{
        display: flex;
        align-items: center;
        justify-content: center;
        button{
          width: 80%;
          height: 30px;
          background-color: #B2C9F6;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          border-radius: 20px;
          border: none;
          font-weight: bold;
        }

      }
      #guardaras {
        display: flex;
        align-items: center;
        justify-content: center;
        button{
          width: 80%;
          height: 30px;
          background-color: #1f1f20;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          border-radius: 20px;
          border: none;
          font-weight: bold;
        }
      }
      #suspender{
        display: flex;
        align-items: center;
        justify-content: center;
        button{
          width: 80%;
          height: 30px;
          background-color: #000060;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          border-radius: 20px;
          border: none;
          font-weight: bold;
          color: white;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.modal-header{
  span{
    color: white;
  }
}

.modal-body{
  span{
    color: white;
  }
}
.modal-footer{
  button{
    background: #B2C9F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    border: none;
    color: black;
  }
}

.doctor{
  p{
    color: white;
  }
}

#pacientes{
  input{
    background-color: transparent;
    margin-top: 70px;
    width: 92%;
    border: none;
    border-bottom: 1px solid white;
    color: white;
  }
}
::placeholder{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: 'tnum' on, 'lnum' on;
  color: #4B4B4E;
}

#signos{
  input{
    margin-top: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
  }
}

#receta{
  p{
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 10px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #000000;
  }
  textarea{
    background-color: transparent;
    width: 89%;
    color: white;
  }
}

#estudio{
  input{
    margin-top: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
  }
}

.consultass{
  overflow: auto;
  /* height: 400px; */
}

.consultass::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  display: none;  /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.consultass::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.consultass::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.consultass::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.consultass::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.consultass::-webkit-scrollbar-track:hover,
.consultass::-webkit-scrollbar-track:active {
background: #d4d4d4;
}

@media (min-width:366px) and (max-width:575px) {
  #buscador{
    position: fixed;
    margin-top: -99px;
    margin-left: 107px;
  }
  #input{
    height: 42px;
    width: 11rem;
  }

  #input_img {
    margin-left: 4px;
    top: 11px;
    width: 19px;
    height: 19px;
  }
  #agenda{
    .card{
      width: 96%;
    }
    #horario{
      margin-top: -65px;
      margin-left: 120px;
    }
  }

  #formulario{
    width: 21rem;
    #guardar{
      button{
        font-size: .8rem;
      }

    }
  }

  .consultass{
    height: 299px;
  }
}

@media (min-width: 576px) and (max-width:776px) {
  #buscador{
    position: fixed;
    margin-top: -100px;
    margin-left: 114px;
  }
  #input{
    height: 44px;
    width: 18rem;
  }

  #input_img {
    margin-left: 10px;
    top: 10px;
    width:25px;
    height:25px;
  }
  #formulario{
    width: 34rem;
  }
  .consultass{
    height: 299px;
  }
}

@media (min-width: 768px) and (max-width:991px) {
  #buscador{
    position: fixed;
    margin-top: -100px;
    margin-left: 114px;
  }
  #input{
    height: 44px;
    width: 18rem;
  }

  #input_img {
    margin-left: 10px;
    top: 10px;
    width:25px;
    height:25px;
  }
  #formulario{
    width: 42rem;
  }
  .consultass{
    height: 350px;
  }
}

@media (min-width: 992px) and (max-width:1199px) {
  #buscador{
    position: fixed;
    margin-top: -100px;
    margin-left: 114px;
  }
  #input{
    height: 44px;
    width: 18rem;
  }

  #input_img {
    margin-left: 10px;
    top: 10px;
    width:25px;
    height:25px;
  }
  #formulario{
    width: 29rem;
  }
  .consultass{
    height: 430px;
  }
}

@media (min-width: 1200px) {
  #buscador{
    position: fixed;
    margin-top: -100px;
    margin-left: 114px;
  }
  #input{
    height: 44px;
    width: 18rem;
  }

  #input_img {
    margin-left: 10px;
    top: 10px;
    width:25px;
    height:25px;
  }
  .consultass{
    height: 430px;
  }
}
