<div class="container-fluid row">
  <div id="buscador">
    <img src="../../../assets/icons/search.png" id="input_img">
    <input type="text" #filterName name="" id="input" placeholder="Buscar Paciente" (keyup)="buscarPaciente($event)">
    <ul id="buscar" *ngIf="pacientesEncontrados.length != 0">
      <li *ngFor="let item of pacientesEncontrados">
        <span class="badge pointer" (click)="agregarPaciente(item)">{{item.nombre | uppercase}} {{item.apellidoPaterno | uppercase}} {{item.apellidoMaterno | uppercase}}</span>
      </li>
    </ul>
  </div>
  <div class="col" id="agenda">
      <span id="title">EXPEDIENTE CLÍNICO</span>
      <!-- <li class="nav-devider"></li> -->
      <div class="consultass">
        <div class="card" *ngFor="let item of consultas" >
          <div class="row pointer" (click)="mostrarModal(item)">
              <div class="col-md-3">
                  <img src="../../../assets/icons/pacienta.svg" alt="">
              </div>
              <div class="col" id="horario">
                <div id="paciente">
                  <span>{{item.paciente.nombre}} {{item.paciente.apellidoPaterno}} {{item.paciente.apellidoMaterno}} </span>
                </div>
                <div>
                  <span> {{item.fechaInicio | date:'mediumDate' }}  </span>
                </div>
              </div>
          </div>
        </div>
      </div>
      <br>
      <span id="title" *ngIf="verTituloHitoria">HISTORIA CLINICA</span>
      <!-- <li class="nav-devider"></li> -->
      <div class="card" *ngFor="let item of historiaClinicaLlena">
          <div class="row pointer" (click)="mostrarModalHistoria(item)">
              <div class="col-md-3">
                  <img src="../../../assets/icons/pacienta.svg" alt="">
              </div>
              <div class="col" id="horario">
                <div id="paciente">
                  <span>{{item.paciente.nombre}} {{item.paciente.apellidoPaterno}} {{item.paciente.apellidoMaterno}} </span>
                </div>
                <div>
                  <span>{{item.fechaInicio | date:'mediumDate'}}</span>
                </div>
              </div>
          </div>
      </div>

      <!-- <div id="historial">
        <button>HISTORIAL</button>
      </div> -->
  </div>

  <div class="col">
     <div class="card" id="formulario">
        <form #form='ngForm' id="form">
          <div id="inpt">
            <input [ngModel]="searchPacientes.nombre" type="text" name="nombre" id="nombre" placeholder="Nombre" required>
          </div>
          <div id="inpt">
            <input [ngModel]="searchPacientes.apellidoPaterno" type="text" name="apellidoPaterno" id="apellidoPaterno" required placeholder="Apellido Paterno">
          </div>
          <div id="inpt">
            <input [ngModel]="searchPacientes.apellidoMaterno" type="text" name="apellidoMaterno" id="apellidoMaterno" required placeholder="Apellido Materno">
          </div>
          <div id="inpt">
            <input [ngModel]="searchPacientes.curp" type="text" name="curp" id="curp" placeholder="CURP" maxlength="18" (change)="validarCurp(form)" pattern="([A-Z]{4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1])[HM](AS|BC|BS|CC|CL|CM|CS|CH|DF|DG|GT|GR|HG|JC|MC|MN|MS|NT|NL|OC|PL|QT|QR|SP|SL|SR|TC|TS|TL|VZ|YN|ZS|NE)[A-Z]{3}[0-9A-Z]\d)">
          </div>
          <div id="inpt">
            <input [ngModel]="searchPacientes.edad" type="text" name="edad" id="edad" placeholder="Edad" maxlength="2" required>
          </div>
          <div class="row">
            <div class="col" id="genero">
              <p>Género</p>
              <div>
                <input [ngModel]="searchPacientes.sexo" id="sexo" type="radio" value="Masculino" name="sexo" required>
                <label  for="masculino">Masculino</label>
              </div>
              <div>
                <input [ngModel]="searchPacientes.sexo" id="sexo" type="radio" value="Femenino" name="sexo" required>
                <label  for="femenino">Femenino</label>
              </div>
            </div>
            <div class="col" id="inpt">
              <div>
                <input [ngModel]="searchPacientes.telefono" type="text" name="telefono" id="telefono" placeholder="Teléfono" maxlength="10">
              </div>
              <div>
                <input [ngModel]="searchPacientes.telEmergencia" type="text" name="telEmergencia" id="telEmergencia" placeholder="Teléfono de emergencia" maxlength="10">
              </div>
            </div>
          </div>

          <div id="inpt">
            <div class="row">
              <div class="col">
                <div>
                  <input [ngModel]="searchPacientes.calle" type="text" name="calle" id="calle" placeholder="Calle">
                </div>
                <div>
                  <input [ngModel]="searchPacientes.numeroExterior" type="text" name="numeroExterior" id="numeroExterior" placeholder="Número exterior">
                </div>
                <div>
                  <input [ngModel]="searchPacientes.colonia" type="text" name="colonia" id="colonia" placeholder="Colonia">
                </div>
                <div>
                  <input [ngModel]="searchPacientes.estado" type="text" name="estado" id="estado" placeholder="Estado">
                </div>
              </div>
              <div class="col">
                <div>
                  <input [ngModel]="searchPacientes.numeroInterior" type="text" name="numeroInterior" id="numeroInterior" placeholder="Número interior">
                </div>
                <div>
                  <input [ngModel]="searchPacientes.codigoPostal" type="text" name="codigoPostal" id="codigoPostal" placeholder="Código postal">
                </div>
                <div>
                  <input [ngModel]="searchPacientes.municipio" type="text" name="municipio" id="municipio" placeholder="Municipio">
                </div>
              </div>
            </div>
          </div>
          <div>
            <div id="guardar">
              <button (click)="savePaciente(form)" [disabled]="guardarSearch" >GUARDAR</button>
            </div>
            <div id="guardar">
              <button (click)="actualizaDatos(form)" [disabled]="editarVisible" >ACTUALIZAR</button>
            </div>
            <div id="guardar">
              <button  [routerLink]="['/dashboard/historia/clinica/completa']" [disabled]="historiaClinicaCompleta">HISTORIA CLINICA</button>
            </div>
            <div id="guardar">
              <!-- <a  href="../../../assets/CONSENTIMIENTO INFORMADO_2.pdf" download="Consentimiento Médico" >CONSENTIMIENTO MÉDICO</a> -->
              <button (click)="spinerConsentimiento()" [disabled]="botonesImp">CONSENTIMIENTO INFORMADO</button>
            </div>
            <div id="guardar">
              <!-- <a  href="../../../assets/CERTIFICADO MEDICO EMI.pdf" download="Certificaco Médico" >CERTIFICADO MÉDICO</a> -->
              <button (click)="spinerCertificado()" [disabled]="botonesImp">CERTIFICADO MÉDICO</button>
            </div>
          </div>
        </form>
     </div>
  </div>
</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">NOTA MEDICA</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <div>
      <input type="text" [(ngModel)]="mostrarConsulta.cie10[0].NOMBRE" name="cie" id="cie" placeholder="CIE 10">
    </div> -->
    <ul id="buscar">
      <li *ngFor="let item of mostrarConsulta.cie10">
        <span class="badge">{{item.NOMBRE | uppercase}}</span>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="siguiente('NOTA')">
      SIGUIENTE
    </button>
  </div>
</ng-template>

<ng-template #modalContent2 let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">RECETA</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-9 doctor">
        <div>
          <p id="doctor">Dr. {{user.nombre}} {{user.apellidoPaterno}} {{user.apellidoMaterno}}</p>
          <p id="cedula">CED. PROF. {{user.cedula}}</p>
        </div>
        <div id="pacientes">
          <input type="text" [(ngModel)]="nombrePacienteCompleto" name="paciente" id="paciente" placeholder="Paciente" disabled="true">
        </div>
      </div>
      <div class="col-md-3" id="signos">
        <div>
          <input type="text" [(ngModel)]="mostrarConsulta.edad" name="edad" id="edad" min="0" placeholder="Edad" disabled="true">
        </div>
        <div>
          <input type="text" [(ngModel)]="mostrarConsulta.peso" name="peso" id="peso" placeholder="Peso" disabled="true">
        </div>
        <div>
          <input type="text" [(ngModel)]="mostrarConsulta.talla" name="talla" id="talla" placeholder="Talla" disabled="true">
        </div>
        <div>
          <input type="text" [(ngModel)]="mostrarConsulta.imc" name="imc" id="imc" placeholder="Imc" disabled="true">
        </div>
        <div>
          <input type="text" [(ngModel)]="mostrarConsulta.ta" name="ta" id="ta" placeholder="T.A" disabled="true">
        </div>
        <div>
          <input type="text" [(ngModel)]="mostrarConsulta.temp" name="temp" id="temp" placeholder="Temperatura" disabled="true">
        </div>
        <div>
          <input type="text" [(ngModel)]="mostrarConsulta.alergias" name="alergias" id="alergias" placeholder="Alergias" disabled="true">
        </div>
      </div>
    </div>
    <div id="receta">
      <p style="color: white;">Rx:</p>
      <div>
        <textarea name="nota" [(ngModel)]="mostrarConsulta.nota" id="nota" cols="30" rows="10" disabled="true"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="spinerReceta()" >IMPRIMIR </button>
    <button type="button" (click)="anterior('RECETA')">
      ANTERIOR
    </button>
    <button type="button" (click)="siguiente('RECETA')">
      SIGUIENTE
    </button>
  </div>
</ng-template>

<ng-template #modalContent3 let-close="close">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">ESTUDIOS</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div id="estudio">
        <input type="text" name="estudios" id="estudios" [(ngModel)]="mostrarConsulta.estudios" placeholder="Agregar estudios" disabled="true">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="anterior('ESTUDIOS')">
        ANTERIOR
      </button>
    </div>
  </div>
</ng-template>

<ng-template #modalContent4 let-close="close">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">HISTORIA CLINICA</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-antecendentes-heredo-familiares [datos]="datosHistoria" [habilitar]="true"></app-antecendentes-heredo-familiares>
      <app-antecendentes-personales-no-patologicos [datos]="datosHistoria" [habilitar]="true"></app-antecendentes-personales-no-patologicos>
      <app-antecendentes-personales-patologicos [datos]="datosHistoria" [habilitar]="true"></app-antecendentes-personales-patologicos>
      <div *ngIf="generoPaciente != 'Masculino' && edadPaciente > 12">
        <app-antecendentes-ginecobstetricos [datos]="datosHistoria" [habilitar]="true"></app-antecendentes-ginecobstetricos>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="spinerHistoria()">
        DESCARGAR PDF
      </button>
    </div>
  </div>
</ng-template>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "fire" [fullScreen] = "true"><p style="color: white" > Descargando... </p></ngx-spinner>



