<div id="headr">
  <p id="title">DATOS DE FACTURACIÓN</p>
</div>
<div id="receta">
  <form #form='ngForm'>
    <div class="card">
      <div class="row">
        <div class="col">
          <div class="group">
            <input type="text"name="razonSocial" id="razonSocial" required tabindex=1 [(ngModel)]="datos.razonSocial">
            <span class="highlight"></span>
            <label>Nombre o Razón social</label>
          </div>
          <div class="group">
            <input type="text"name="direccion" id="direccion" required tabindex=3 [(ngModel)]="datos.direccion">
            <span class="highlight"></span>
            <label>Dirección completa</label>
          </div>
          <div class="group">
            <input type="text"name="correoElectronico" id="correoElectronico" required tabindex=5 [(ngModel)]="datos.correoElectronico">
            <span class="highlight"></span>
            <label>Correo Electrónico</label>
          </div>
        </div>
        <div class="col">
          <div class="group">
            <input type="text"name="rfc" id="rfc" required tabindex=8 [(ngModel)]="datos.rfc">
            <span class="highlight"></span>
            <label>RFC</label>
          </div>
          <div class="group">
            <input type="text"name="telefono" id="telefono" required tabindex=9 [(ngModel)]="datos.telefono">
            <span class="highlight"></span>
            <label>Teléfono</label>
          </div>
          <div class="group">
            <input type="text"name="conceptoFacturacion" id="conceptoFacturacion" required tabindex=10 [(ngModel)]="datos.conceptoFacturacion">
            <span class="highlight"></span>
            <label>Concepto de facturación</label>
          </div>
        </div>
      </div>
      <div id="guardar" *ngIf="botonGuardar">
        <button (click)="agregar(form)">GUARDAR</button>
      </div>
      <div id="guardar" *ngIf="botonEditar">
        <button (click)="actualizar(form)">ACTUALIZAR</button>
      </div>
    </div>
  </form>
</div>
