<div id="receta">
  <span id="title">CREAR RECETA</span>
  <li class="linea"></li>
  <form #form='ngForm'>
    <div class="card">
      <div class="row">
        <div class="col-md-9">
          <div>
            <p id="doctor">Dr. {{medico.nombre | uppercase}} {{medico.apellidoPaterno | uppercase}} {{medico.apellidoMaterno | uppercase}}</p>
            <p id="cedula">CED. PROF. {{medico.cedula}}</p>
          </div>
          <div id="pacientes">
            <input type="text" ngModel name="paciente" id="paciente" [value]="nombre" placeholder="Paciente">
          </div>
        </div>
        <div class="col-md-3" id="signos">
          <div>
            <input type="number" ngModel name="edad" id="edad" min="0" [value]="edad" placeholder="Edad">
          </div>
          <div>
            <input type="number" ngModel name="peso" id="peso" placeholder="Peso" (change)="formulario(form)">
          </div>
          <div>
            <input type="number" ngModel name="talla" id="talla" placeholder="Talla" (change)="formulario(form)" (blur)="obtenerIMC(form)">
          </div>
          <div>
            <input type="number" ngModel name="imc" id="imc" placeholder="IMC" [value]="imc" (change)="formulario(form)">
          </div>
          <div>
            <input type="text" ngModel name="ta" id="ta" placeholder="T.A" (change)="formulario(form)">
          </div>
          <div>
            <input type="number" ngModel name="temp" id="temp" placeholder="Temperatura" (change)="formulario(form)">
          </div>
          <div>
            <input type="text" ngModel name="alergias" id="alergias" placeholder="Alergias" (change)="formulario(form)">
          </div>
        </div>
      </div>
      <div id="receta">
        <p>Rx:</p>
        <!-- <div class="row">
          <div class="col medicamentos">
            <input type="text" [(ngModel)]="medicamentoSelected" name="medicamento" id="medicamento" placeholder="Buscar Medicamento" (keyup)="buscarMedicamento($event)">
            <div *ngIf="activarMedicamento">
              <ul>
                <li class="pointer" *ngFor="let item of medicamentosFiltrados" (click)="seleccionarMedicamento(form,item)">
                  <i class="mdi mdi-check-circle-outline activado" *ngIf="item.existencia"></i>
                  <i class="mdi mdi-close-circle-outline desactivado" *ngIf="!item.existencia"></i>
                  {{item.medicamento.nombreComercial}}
                </li>
              </ul>
            </div>
          </div>
          <div class="col">
            <select #tomar (change)="cantidad($event)">
              <option value=""></option>
              <option value="1/2 tableta">1/2 tableta</option>
            </select>
          </div>
          <div class="col">
            <select #frecuencia (change)="temporalidad($event)">
              <option value=""></option>
              <option value="cada 4 horas">cada 4 horas</option>
            </select>
          </div>
          <div class="col">
            <select #duracion (change)="dias(form,$event)">
              <option value=""></option>
              <option value="3 dias">3 dias</option>
            </select>
          </div>
        </div>
        <div class="medicamentosSelect">
          <ul>
            <li *ngFor="let item of medicamentosSeleccionados">
              <i class="mdi mdi-check-circle-outline activado" *ngIf="item.existencia"></i>
              <i class="mdi mdi-close-circle-outline desactivado" *ngIf="!item.existencia"></i>
              {{item.medicamento.nombreComercial | uppercase}} {{item.tomar | uppercase}} {{item.frecuencia | uppercase}} {{item.duracion | uppercase}}
            </li>
          </ul>
        </div> -->
        <div>
          <textarea name="nota" ngModel id="nota" cols="30" rows="10" (change)="formulario(form)"></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
