#receta{
  .pointer{
    cursor: pointer;
  }
  #title{
    color: white;
  }
  .card{
    background-color: #DDDDDDCC;
    border-radius: 10px;
    /* height: 603px; */
    width: 100%;
    margin-top: 10px !important;
    #doctor{
      width: 237px;
      height: 56px;
      /* margin-left: 66px; */
      margin-top: 47px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 28px;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: #4B4B4E;
    }
    #cedula{
      width: 249px;
      height: 16px;
      /* margin-left: 66px; */
      margin-top: 25px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 5px;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: #4B4B4E;
    }
    #pacientes{
      input{
        background-color: transparent;
        /* margin-left: 66px; */
        margin-top: 60px;
        /* width: 92%; */
        border: none;
        border-bottom: 1px solid black;
      }
    }
    ::placeholder{
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: #4B4B4E;
    }
    #signos{
      margin-top: 47px;
      input{
        margin-top: 5px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid black;
      }
    }
    #receta{
      /* margin-left: 66px; */
      p{
        margin-top: 20px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 10px;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #000000;
      }
      input{
        margin-top: 10px;
        margin-top: 5px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid black;
      }
      select{
        background-color: transparent;
      }
      .medicamentos{
        div{
          border-radius: 10px;
          margin: 4px;
          border: 1px solid black;
          width: 100%;
          height: 60%;
          overflow: auto;
          ul{
            li{
              list-style: none;
              color: #4B4B4E;
              font-weight: bolder;
              .activado{
                color: green;
              }
              .desactivado{
                color: red;
              }
            }
          }
        }
      }
      .medicamentosSelect{
        border-radius: 10px;
        margin-top: 15px;
        border: 1px solid black;
        width: 90%;
        height: 50%;
        overflow: auto;
        ul{
          li{
            list-style: none;
            color: #4B4B4E;
            font-weight: bolder;
            .activado{
              color: green;
            }
            .desactivado{
              color: red;
            }
          }
        }
      }
      textarea{
        /* margin-left: 66px; */
        background-color: transparent;
        /* width: 89%; */
      }
    }
  }
}

@media (min-width:366px) and (max-width:575px) {
  .card{
    height: 803px;
    #doctor{
      margin-left: 36px;
    }
    #cedula{
      margin-left: 36px;
    }
    #pacientes{
      input{
        margin-left: 26px;
        width: 82%;
      }
    }
    #signos{
      input{
        margin-left: 30px;
      }
    }
    #receta{
      margin-left: 36px;
      textarea{
        margin-left: 0px;
        width: 90%;
      }
    }
  }
}

@media (min-width: 576px) and (max-width:776px) {
  .card{
    height: 803px;
    #doctor{
      margin-left: 66px;
    }
    #cedula{
      margin-left: 66px;
    }
    #pacientes{
      input{
        margin-left: 66px;
        width: 82%;
      }
    }
    #signos{
      input{
        margin-left: 66px;
      }
    }
    #receta{
      margin-left: 66px;
      textarea{
        margin-left: 0px;
        width: 90%;
      }
    }
  }
}

@media (min-width: 768px) and (max-width:991px) {
  .card{
    height: 603px;
    #doctor{
      margin-left: 66px;
    }
    #cedula{
      margin-left: 66px;
    }
    #pacientes{
      input{
        margin-left: 66px;
        width: 92%;
      }
    }
    #signos{
      input{
        margin-right: 15px;
        margin-left: 0px;
      }
    }
    #receta{
      margin-left: 66px;
      textarea{
        margin-left: 0px;
        width: 90%;
      }
    }
  }
}

@media (min-width: 992px) and (max-width:1199px) {
  .card{
    height: 603px;
    #doctor{
      margin-left: 66px;
    }
    #cedula{
      margin-left: 66px;
    }
    #pacientes{
      input{
        margin-left: 66px;
        width: 92%;
      }
    }
    #signos{
      input{
        margin-left: 66px;
      }
    }
    #receta{
      margin-left: 66px;
      textarea{
        margin-left: 0px;
        width: 90%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .card{
    height: 603px;
    #doctor{
      margin-left: 66px;
    }
    #cedula{
      margin-left: 66px;
    }
    #pacientes{
      input{
        margin-left: 66px;
        width: 92%;
      }
    }
    #signos{
      input{
        margin-right: 15px;
        margin-left: 0px;
      }
    }
    #receta{
      margin-left: 66px;
      textarea{
        margin-left: 0px;
        width: 90%;
      }
    }
  }
}
