<div id="receta">
  <span id="title">ANTECENDENTES HEREDO FAMILIARES</span>
  <form #form='ngForm'>
    <div class="card">
      <div class="row">
        <div class="col">
          <div class="group">
            <input type="text" name="diabetes" id="diabetes" [(ngModel)]="datos.diabetes" (change)="enviar(form)" required [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Diabetes</label>
          </div>
          <!-- <div id="inpt">
              <input type="text" name="diabetes" id="diabetes" ngModel placeholder="Diabetes" (change)="enviar(form)">
          </div> -->
          <div class="group">
            <input type="text" name="cancer" id="cancer" [(ngModel)]="datos.cancer" (change)="enviar(form)" required [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Cáncer</label>
          </div>
          <!-- <div id="inpt">
            <input type="text" name="cancer" id="cancer" ngModel placeholder="Cáncer" (change)="enviar(form)">
          </div> -->
          <div class="group">
            <input type="text" name="cardiopatias" [(ngModel)]="datos.cardiopatias" id="cardiopatias" (change)="enviar(form)" required [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Cardiopatías</label>
          </div>
          <!-- <div id="inpt">
            <input type="text" name="cardiopatias" ngModel id="cardiopatias" placeholder="Cardiopatías" (change)="enviar(form)">
          </div> -->
          <div class="group">
            <input type="text" name="malformaciones" [(ngModel)]="datos.malformaciones" id="malformaciones" (change)="enviar(form)" required [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Malformaciones</label>
          </div>
          <!-- <div id="inpt">
            <input type="text" name="malformaciones" ngModel id="malformaciones" placeholder="Malformaciones" (change)="enviar(form)">
          </div> -->
          <div class="group">
            <input type="text" name="otros" id="otros" [(ngModel)]="datos.otros" (change)="enviar(form)" required [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Otros</label>
          </div>
          <!-- <div id="inpt">
            <input type="text" name="otros" id="otros" ngModel placeholder="Otros" (change)="enviar(form)">
          </div> -->
        </div>
        <div class="col">
          <div class="group">
            <input type="text" name="hipertencion" [(ngModel)]="datos.hipertencion" id="hipertencion" (change)="enviar(form)" required [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Hipertensión</label>
          </div>
          <!-- <div id="inpt">
            <input type="text" name="hipertencion" ngModel id="hipertencion" placeholder="Hipertensión" (change)="enviar(form)">
          </div> -->
          <div class="group">
            <input type="text" name="tipoHipertencion" [(ngModel)]="datos.tipoHipertencion" id="tipoHipertencion" (change)="enviar(form)" required [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Tipo</label>
          </div>
          <!-- <div id="inpt">
            <input type="text" name="tipoHipertencion" ngModel id="tipoHipertencion" placeholder="Tipo" (change)="enviar(form)">
          </div> -->
          <div class="group">
            <input type="text" name="nefropatas" [(ngModel)]="datos.nefropatas" id="nefropatas" (change)="enviar(form)" required [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Nefropatías</label>
          </div>
          <!-- <div id="inpt">
            <input type="text" name="nefropatas" ngModel id="nefropatas" placeholder="Nefropatías" (change)="enviar(form)">
          </div> -->
          <div class="group">
            <input type="text" name="tipoNefropatas" [(ngModel)]="datos.tipoNefropatas" id="tipoNefropatas" (change)="enviar(form)" required [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Tipo</label>
          </div>
          <!-- <div id="inpt">
            <input type="text" name="tipoNefropatas" ngModel id="tipoNefropatas" placeholder="Tipo" (change)="enviar(form)">
          </div> -->
        </div>
      </div>
    </div>
  </form>
</div>
