/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body{
  background-color: transparent;
}

.pointer{
  cursor: pointer;
}

.group{
  position:relative;
  input{
    background-color: transparent;
    font-size: .8rem;
    display:block;
    width: 90%;
    border: none;
    color: #4B4B4E;
    border-bottom: 1px solid #000000;
    margin: 0px 0px 0px 10px;
  }
  input:focus{
    outline:none;
  }
  /* LABEL ======================================= */
  label{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #4B4B4E;
    position:absolute;
    pointer-events:none;
    left:20px;
    bottom: 20px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }

  /* active state */
  input:focus ~ label, input:valid ~ label{
    top:-2px;
    font-size:12px;
    color:#5264AE;
    font-weight: bold;
  }

  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }

  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%;
    width:90%;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
    margin: 0px 0px 0px 10px;
  }

  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }

  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
}
