<div class="logo pointer">
  <img src="../../../assets/logoMedic/EMIMEDICclaro.png" alt="logo" [routerLink]="['/login']" target="_blank">
</div>
<div class="titulo">
  <div>
    <h1>TERMINOS Y CONDICIONES</h1>
  </div>
</div>
<div class="terminos">
  <div class="card">
    <p>
      En <span>EMI EXSEC</span> estamos comprometidos con salvaguardar la privacidad de sus datos personales, este aviso es aplicable a cualquiera de nuestros usuarios o cliente, en consecuencia y de conformidad con lo establecido en el Artículo 17, fracción II de la Ley Federal de
      Protección de Datos Personales en Posesión de los Particulares le informamos que <span>“EMI EXSEC”</span> tratara los datos personales que recabe de Usted en los términos del presente aviso de privacidad:<br>
      Para efectos del presente aviso de privacidad de <span>“EMI EXSEC”</span> señalan como domicilio el ubicado en AV. Insurgentes #766 Int. 11 C.P. 62744, Cuautla Morelos.
    </p>
    <p>
      <span>Datos Personales que podrán ser recabados y tratados</span><br>
      Los datos personales que Usted proporcione a <span>“EMI EXSEC”</span> serán tratados exclusivamente para la finalidad descrita en este aviso de privacidad y se les tratara de forma confidencial y exclusiva para el fin que hubiera sido recabado.
      Los datos personales que podrán ser recabados conforme a este aviso de privacidad son los siguientes: nombre completo, fotografía, domicilio completo, teléfono, celular, RFC, CURP, datos académicos, cursos, idiomas, uso de sistemas informáticos de desarrollo de software y aplicaciones móviles, así como contenido de correos electrónicos y visitas a páginas web a través de los servidores de EMI EXSEC, incluso si los mismos se encuentran bajo un protocolo de encriptación, firma del empleado, contacto para actualizaciones.
      En relación con los datos personales sensibles que se mencionan en el párrafo anterior, <span>“EMI EXSEC”</span> se compromete a que el tratamiento será el absolutamente indispensable para la finalidad mencionada y a tratarlos bajo las medidas de seguridad adecuadas para proteger la confidencialidad.
    </p>
    <p>
      <span>Finalidad de los tratamientos de sus datos personales</span><br>
      <span>Derechos ARCO</span><br>
      e igual forma, desde el 6 de enero de 2012, Usted tiene derecho de: acceder a sus datos personales en nuestro poder y conocer los detalles del tratamiento de los mismos, (rectificarlos en caso de ser inexactos o incompletos, cancelarlos cuando considere que no se requieren para alguna de las finalidades señaladas en el presente aviso de privacidad, estén siendo utilizados para finalidades no consentidas o haya finalizado la relación contractual o de servicio, o (iv) oponerse al tratamiento de los mismos para fines específicos, según lo diga la ley, ( conjuntamente, los “Derechos ARCO”).
      <span>“EMI EXSEC”</span> ha designado a un encargado de datos personales, (el “Oficial de Privacidad”), por lo tanto Usted podrá limitar el uso o divulgación de sus datos personales mediante comunicación dirigida al Oficial de Privacidad al correo electrónico siguiente:
      oficialdeprivacidad@emiexsec.com,mx (la “Dirección de Contacto”). El Oficial de Privacidad responderá su Solicitud de Ejercicio de Derechos ARCO y los motivos de su decisión mediante correo certificado (con costo adicional) ó presencial en las oficinas corporativas en un
      plazo máximo de 20 días hábiles contados desde el día en que se haya recibido su Solicitud de Ejercicio de Derechos ARCO. Para ser procesada su petición, ésta deberá incluir todos y cada uno de los requisitos previstos en el artículo 29 de la Ley Federal de Protección
      de Datos Personales en Posesión de los Particulares.
      <span>“EMI EXSEC”</span> podrá negar el acceso (la “Negativa”) para que Usted ejerza sus Derechos ARCO en los siguientes supuestos:<br>
      <span>I. Cuando Usted no sea el titular de los datos personales o no pueda acreditar la representación del titular</span><br>
      <span>II. Cuando sus datos personales no obren en la base de datos del “EMI EXSEC”.</span><br>
      <span>III. Cuando se lesionen los derechos de un tercero.</span><br>
      <span>IV. Cuando exista un impedimento legal o la resolución de una autoridad competente, que restrinja sus Derechos ARCO.</span><br>
      <span>V. Cuando la rectificación, cancelación u oposición haya sido previamente realizada.</span><br>
      El ejercicio de los Derechos ARCO será gratuito, pero si Usted reitera su solicitud en un periodo menor a doce meses, los costos serán de tres días de Salario Mínimo General Vigente
      en el Distrito Federal, más I.V.A., a menos que existan modificaciones sustanciales al Aviso de Privacidad que motiven nuevas Solicitudes de Ejercicio de Derechos ARCO. Usted deberá de cubrir los gastos justificados de envío o el costo de reproducción en copias u otros
      formatos.<br>
      <span>Requisitos para ejercer los derechos “ARCO”</span><br>
      Para ejercer los derechos ARCO conforme a lo mencionado en el párrafo anterior la solicitud deberá contener:<br>
      <span>I. Su nombre, domicilio completo (Calle, número interior
      y/o exterior, colonia, código postal, ciudad y estado) conforme al formato “Solicitud de Ejercicio de Derechos ARCO” para poder comunicarle la respuesta a la Solicitud ARCO
      </span><br>
      <span>II. Los documentos que acrediten su identidad (copia de INE, pasaporte vigente, cédula profesional ó documento migratorio) o en su caso, los documentos que acrediten su representación legal (copia del INE, pasaporte vigente, cédula profesional ó documento migratorio.</span><br>
      <span>III. Una descripción clara y precisa de los datos personales
        respecto de los cuales busca ejercer alguno de los Derechos ARCO, y;
      </span><br>
      <span>IV. Cualquier documento o información que facilite la localización de sus datos personales.</span><br>
      <span>V. En caso de solicitar una rectificación de datos, deberá de indicar también, las modificaciones a realizarse y aportar la documentación que sustente su petición (acta de nacimiento, comprobante de domicilio, documento de pre afiliación expedido por el IMSS en
        caso de solicitar modificaciones al NSS, etc.).
      </span><br>
      <span>Revocación del Consentimiento</span><br>
      El titular podrá tramitar en cualquier momento la revocación de su consentimiento para el tratamiento de sus datos personales (de forma gratuita), la solicitud la podrá encontrar en la página web del “emiexsec.com.mx” o solicitando este documento en cualquier filial de
      <span>“EMI EXSEC”</span>. La solicitud se podrá presentar por medio digital o física cuando exista una causa legítima y su situación específica así lo requiera o bien cuando no desee que sus datos personales se traten para fines específicos. No procederá el ejercicio del derecho de
      oposición cuando el tratamiento sea necesario para el cumplimiento de una obligación legal impuesta a <span>“EMI EXSEC”</span>.
      El ejercicio de cualquiera de los derechos “ARCO” y la Revocación de datos personales podrá restringirse por razones de seguridad nacional, disposiciones de orden público, seguridad y salud públicas o para protegerlos derechos de terceras personas, en los casos y con los
      alcances previstos en las leyes aplicables en la materia, o bien mediante resolución de la autoridad competente debidamente fundada y motivada.<br>
      <span>Notificación de cambios al aviso de privacidad</span><br>
      <span>EMI EXSEC</span> se reserva el derecho a modificar el presente Aviso de Privacidad en el futuro para cumplir con actualizaciones legislativas, jurisprudencias, políticas internas, nuevos requisitos emitidos por la autoridad. Cualquier modificación al presente aviso le será
      notificada mediante correo electrónico, publicación, notificación en las filiales de <span>EMI EXSEC</span> y en el apartado de nuestra política de privacidad que puede consultar en la siguiente página web: <a>www.emiexsec.com.mx</a>
      Este Aviso de Privacidad cumple con los requisitos establecidos en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares vigente.
    </p>
  </div>
</div>
