@font-face {
  font-family: "Roboto";
  src: url("../../../../assets/fuentes/Roboto-Regular.ttf");
}
.logo{
  display: flex;
  align-items: left;
  justify-content: left;
  img{
    width: 20%;
    margin-left: 70px;
    margin-top: 15px;
  }
}
.titulo{
  h1{
    margin-top: 15px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    letter-spacing: 0.1em;
    -webkit-text-stroke: .1px white;
    color: transparent;
  }
}
.terminos{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  .card{
    background-color: #DDDDDDCC;
    border-radius: 10px;
    height: auto;
    width: 70%;
    margin-top: 10px !important;
    padding: 20px;
    p{
      text-align: justify;
      font-family: Roboto;
      font-style: normal;
      span{
        font-weight: bold;
      }
    }
  }
}
