<div class="container-fluid row">
  <div id="buscador">
    <img src="../../../assets/icons/search.png" id="input_img">
    <input type="search" #filterName name="" id="input" placeholder="Buscar Cita" (keyup)="buscarCitas($event)" autocomplete="off">
    <ul id="buscar" *ngIf="citasEncontradas.length != 0">
      <li *ngFor="let item of citasEncontradas">
        <span class="badge pointer" (click)="agregarConsulta(item)">{{item.title | uppercase}}</span>
      </li>
    </ul>
  </div>
  <div class="col" id="agenda" style="overflow: auto;">
    <div class="row">
      <div class="col-md-7">
        <span id="dia">{{dia | date:'fullDate' | uppercase}}</span>
      </div>
      <div class="col-md-5">
        <button class="agendar" (click)="agendar()">
          AGENDAR
        </button>
      </div>
    </div>
    <li class="nav-devider"></li>
    <div class="card" *ngFor="let item of eventos2">
      <div class="row pointer" (click)="pasarCita(item)">
        <div class="col">
          <img src="../../../assets/icons/pacienta.svg" alt="">
        </div>
        <div class="col" id="horario">
          <span>{{item.start | date:'shortTime'}}</span>
        </div>
        <div class="col" id="paciente">
          <span>{{item.title}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" id="calendario">
      <div class="row text-center">
        <div class="col-md-4">
          <div class="btn-group">
            <div class="btn"
                 mwlCalendarPreviousView
                 [view]="view"
                 [(viewDate)]="viewDate"
                 (viewDateChange)="closeOpenMonthViewDay()">
                  ANTERIOR
            </div>
            <div class="btn"
                 mwlCalendarToday
                 [(viewDate)]="viewDate">
                 HOY
            </div>
            <div class="btn"
                 mwlCalendarNextView
                 [view]="view"
                 [(viewDate)]="viewDate"
                 (viewDateChange)="closeOpenMonthViewDay()">
                 SIGUIENTE
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' | uppercase}}</h3>
        </div>
        <div class="col-md-4">
          <div class="btn-group">
            <div
              class="btn"
              (click)="setView(CalendarView.Month)"
              [class.active]="view === CalendarView.Month"
            >
              MES
            </div>
            <div
              class="btn"
              (click)="setView(CalendarView.Week)"
              [class.active]="view === CalendarView.Week"
            >
              SEMANA
            </div>
            <div
              class="btn"
              (click)="setView(CalendarView.Day)"
              [class.active]="view === CalendarView.Day"
            >
              DÍA
            </div>
          </div>
        </div>
      </div>
      <!-- <br /> -->
      <div [ngSwitch]="view" style="overflow: auto; height: 567px;">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="CalendarView.Week"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="CalendarView.Day"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-day-view>
      </div>

      <ng-template #modalContent let-close="close">
        <div class="modal-header">
          <h5 class="modal-title">Detalle de consulta</h5>
          <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <span>Nombre del paciente: {{agenda.title}}</span>
          </div>
          <div>
            <span>Motivo de la consulta: {{agenda.motivo}}</span>
          </div>
          <div>
            <span>Fecha de la consulta: {{agenda.start | date:'fullDate'}}</span>
          </div>
          <div>
            <span>Horario: {{agenda.start | date:'shortTime'}}</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="cancelarCita(modalData?.event)">
            FINALIZAR CONSULTA
          </button>
          <button type="button" (click)="cancelarCita(modalData?.event)">
            CANCELAR CITA
          </button>
          <button type="button" (click)="close()">
            ENTENDIDO
          </button>
        </div>
      </ng-template>

      <ng-template #modalContent2 let-close="close">
        <div class="modal-header">
          <h5 class="modal-title">AGREGAR CITA</h5>
          <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #form='ngForm'>
          <div class="modal-body">
            <div>
              <input type="text" [(ngModel)]='nombreEncontrado.nombre' name="nombre" id="nombre" placeholder="Nombre del paciente" (keyup)="buscarPaciente($event)" autocomplete="off">
              <ul id="buscar" *ngIf="pacientesEncontrados.length != 0">
                <li *ngFor="let item of pacientesEncontrados">
                  <span style="color: white;" class="badge pointer" (click)="agregarPaciente(item)">{{item.nombre | uppercase}} {{item.apellidoPaterno | uppercase}} {{item.apellidoMaterno | uppercase}}</span>
                </li>
              </ul>
            </div>
            <div style="margin-top: 20px;">
              <input type="datetime-local" ngModel name="horario" id="horario" placeholder="Horario" >
            </div>
            <div>
              <input type="text" ngModel name="motivo" id="motivo" placeholder="Motivo" >
            </div>
            <!-- <div id="guardar">
              <button (click)="addEvent(form)">
                AGREGAR
              </button>
            </div> -->
          </div>
          <div class="modal-footer">
            <button type="button" (click)="addEvent(form)">
              AGREGAR CITA
            </button>
          </div>
        </form>
      </ng-template>

      <ng-template #modalContent let-close="close">
        <div class="modal-header">
          <h5 class="modal-title">Event action occurred</h5>

        </div>
        <div class="modal-body">
          <div>
            Action:
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="close()">
            OK
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
