@font-face {
  font-family: "Roboto";
  src: url("../../../assets/fuentes/Roboto-Regular.ttf");
}

.container-fluid{
    height: calc(100% - 70px);
    #buscador{
      position: fixed;
      display: block;
      z-index: 500 !important;
      #input{
        border-radius: 15px;
        background-color: #DDDDDD;
        border: none;
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
      }

      #input_img {
        position:absolute;
      }

      #buscar{
        border-radius: 15px;
        height: 45px;
        width: 20rem;
        background-color: transparent;
        border: none;
        position: fixed;
        color: #DDDDDD;
        list-style:none;
      }

      ::placeholder {
        color: black;
        font-size: 1em;
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
      }
    }
    #agenda{
      margin-top: 20px;
      /* height: 650px; */
        #dia{
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 15px;
          line-height: 21px;
          letter-spacing: 0.15em;
          color: #FFFFFF;
        }
        .card{
            background-color: #B2C9F6;
            color: black;
            border-radius: 10px;
            height: 75px;
            /* width: 90%; */
            margin-top: 10px !important;
            .row{
                img{
                    height: 75px;
                    width: 100px;
                }
                #horario{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 28px;
                    letter-spacing: 0.1em;
                    color: #000000;
                }
                #paciente{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 21px;
                    letter-spacing: 0.1em;
                    color: #000000;
                }
            }
        }
    }

    #calendario{
      border-radius: 10px;
      height: 93%;
      /* width: 654px; */
      margin-top: 20px !important;
      border-radius: 10px;
      margin-top: 20px !important;
      div{
        .btn{
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          line-height: 21px;
          letter-spacing: 0.1em;
          color: #000000;
        }
      }

      h3{
        margin-top: 5px;
        /* margin-left: 60px; */
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        line-height: 22px;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #000000;
      }
    }

    h1{
      margin-top: 15px;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 5px;
      font-feature-settings: 'tnum' on, 'lnum' on;
      text-align: center;
      color: #000000;
    }

    #dia{
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      font-feature-settings: 'tnum' on, 'lnum' on;
      text-align: center;
      color: #000000;
      margin-top: 20px;
    }
}

#buscar{
  border-radius: 15px;
  height: 45px;
  width: 20rem;
  background-color: transparent;
  border: none;
  color: #000000 !important;
  list-style:none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.1em;
}

.modal-header{
  span{
    color: white;
  }
}

.modal-body{
  span{
    color: white;
  }
  input{
    background-color: transparent;
    width: 92%;
    border: none;
    margin-bottom: 15px;
    border-bottom: 1px solid white;
    color: white;
  }
  ::placeholder{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: white;
  }
  input[type="datetime-local"]::-webkit-inner-spin-button,::-webkit-calendar-picker-indicator{
    filter: drop-shadow(16px 16px 20px rgb(255, 255, 255)) invert(100%);
  }
}
.modal-footer{
  button{
    background: #B2C9F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    border: none;
    color: black;
  }
}

.agendar{
  background: #B2C9F6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
  width: 90%;
  height: 30px;
  border-radius: 34px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.4em;
  color: #000000;
}

@media (min-width:366px) and (max-width:575px) {
  #buscador{
    position: fixed;
    margin-top: -99px;
    margin-left: 107px;
  }
  #input{
    height: 42px;
    width: 11rem;
  }

  #input_img {
    margin-left: 4px;
    top: 11px;
    width: 19px;
    height: 19px;
  }
  #calendario{
    width: 21rem;
    div{
      .btn{
        font-size: .9rem;
      }
    }
    h3{
      margin-left: 6px;
      font-size: 1.5rem;
    }
    mwl-calendar-month-view{
      font-size: .7rem;
    }
  }
  #agenda{
    height: 393px;
    /* height: 650px; */
    .card{
      width: 100%;
      .row{
        #horario{
          text-align: left;
          margin-top: 24px;
          margin-left: -94px;
        }
        #paciente{
          text-align: left;
          margin-top: 22px;
          margin-left: -99px;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width:776px) {
  #buscador{
    position: fixed;
    margin-top: -100px;
    margin-left: 114px;
  }
  #input{
    height: 44px;
    width: 18rem;
  }

  #input_img {
    margin-left: 10px;
    top: 10px;
    width:25px;
    height:25px;
  }
  #calendario{
    width: 38rem;
  }
  #agenda{
    height: 393px;
    /* height: 650px; */
    .card{
      width: 100%;
      .row{
        #horario{
          text-align: left;
          margin-top: 24px;
          margin-left: -94px;
        }
        #paciente{
          text-align: left;
          margin-top: 22px;
          margin-left: -99px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width:991px) {
  #buscador{
    position: fixed;
    margin-top: -100px;
    margin-left: 114px;
  }
  #input{
    height: 44px;
    width: 18rem;
  }

  #input_img {
    margin-left: 10px;
    top: 10px;
    width:25px;
    height:25px;
  }
  #calendario{
    width: 40rem;
    h3{
      margin-left: 73px;
      font-size: 1.2rem;
    }
  }
  #agenda{
    height: 550px;
    .card{
      width: 100%;
      .row{
        #horario{
          text-align: left;
          margin-top: 24px;
          margin-left: -94px;
        }
        #paciente{
          text-align: left;
          margin-top: 22px;
          margin-left: -99px;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width:1199px) {
  #buscador{
    position: fixed;
    margin-top: -100px;
    margin-left: 114px;
  }
  #input{
    height: 44px;
    width: 18rem;
  }

  #input_img {
    margin-left: 10px;
    top: 10px;
    width:25px;
    height:25px;
  }
  #calendario{
    width: 30rem;
    div{
      .btn{
        font-size: 9px;
      }
    }
    h3{
      margin-left: 44px;
      font-size: 1rem;
    }
  }
  #agenda{
    height: 550px;
    .card{
      width: 100%;
      .row{
        #horario{
          text-align: left;
          margin-top: 24px;
          margin-left: -94px;
        }
        #paciente{
          text-align: left;
          margin-top: 22px;
          margin-left: -99px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  #buscador{
    position: fixed;
    margin-top: -100px;
    margin-left: 114px;
  }
  #input{
    height: 44px;
    width: 18rem;
  }

  #input_img {
    margin-left: 10px;
    top: 10px;
    width:25px;
    height:25px;
  }
  #calendario{
    div{
      .btn{
        font-size: 12px;
      }
    }
    h3{
      font-size: 22px;
      margin-left: 44px;
    }
  }
  #agenda{
    height: 550px;
    .card{
      width: 100%;
      .row{
        #horario{
          text-align: left;
          margin-top: 24px;
          margin-left: -94px;
        }
        #paciente{
          text-align: left;
          margin-top: 22px;
          margin-left: -99px;
        }
      }
    }
  }
}








