<div id="receta">
  <span id="title">ANTECENDENTES PERSONALES PATOLÓGICOS</span>
  <form #form='ngForm'>
    <div class="card">
      <div class="row">
        <div class="col">
          <div class="group">
            <input type="text" name="enfermadesInfancia" id="enfermadesInfancia" required [(ngModel)]="datos.enfermadesInfancia" tabindex=1 (change)="enviar(form)" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Enfermedades de la infancia</label>
          </div>
          <!-- <div id="inpt">
            <input type="text" name="enfermadesInfancia" id="enfermadesInfancia" placeholder="Enfermedades de la infancia" ngModel tabindex=1 (change)="enviar(form)">
          </div> -->
          <div id="inpt" class="sele">
            <label style="margin-left: 15px;">Hospitalizaciones previas</label>
            <select name="hospitalizacionPrevia" id="hospitalizacionPrevia" required tabindex=3 (change)="enviar(form)" [(ngModel)]="datos.hospitalizacionPrevia" [disabled]="habilitar">
              <option value="">Hospitalizaciones previas</option>
              <option value="SI">Si</option>
              <option value="NO">No</option>
            </select>
          </div>
          <div id="inpt" class="sele">
            <label style="margin-left: 15px;">Antecedentes quirúrgicos</label>
            <select name="atecedentesQuirurgicos" id="atecedentesQuirurgicos" required tabindex=5 (change)="enviar(form)" [(ngModel)]="datos.atecedentesQuirurgicos" [disabled]="habilitar">
              <option value="">Antecedentes quirúrgicos</option>
              <option value="SI">Si</option>
              <option value="NO">No</option>
            </select>
          </div>
          <div id="inpt" class="sele">
            <label style="margin-left: 15px;">Transfusiones previas</label>
            <select name="transfusionesPrevias" id="transfusionesPrevias" tabindex=7 (change)="enviar(form)" [(ngModel)]="datos.transfusionesPrevias" [disabled]="habilitar">
              <option value="">Transfusiones previas</option>
              <option value="SI">Si</option>
              <option value="NO">No</option>
            </select>
          </div>
          <div id="inpt" class="sele">
            <div class="row">
              <label style="margin-left: 15px;">Fracturas</label>
              <select name="fracturas" id="fracturas" tabindex=9 (change)="enviar(form)" [(ngModel)]="datos.fracturas" [disabled]="habilitar">
                <option value="">Fracturas</option>
                <option value="SI">Si</option>
                <option value="NO">No</option>
              </select>
            </div>
          </div>
          <div id="inpt" class="sele">
            <label style="margin-left: 15px;">Otra Enfermedad</label>
            <select name="otraEnfermedad" id="otraEnfermedad" tabindex=12 (change)="enviar(form)" [(ngModel)]="datos.otraEnfermedad" [disabled]="habilitar">
              <option value="">Otra Enfermedad</option>
              <option value="SI">Si</option>
              <option value="NO">No</option>
            </select>
          </div>
          <div id="inpt" class="sele">
            <label style="margin-left: 15px;">Medicamentos actuales</label>
            <select name="medicamentosActuales" id="medicamentosActuales" tabindex=14 (change)="enviar(form)" [(ngModel)]="datos.medicamentosActuales" [disabled]="habilitar">
              <option value="">Medicamentos actuales</option>
              <option value="SI">Si</option>
              <option value="NO">No</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="group">
            <input type="text" name="secuelas" id="secuelas" required required tabindex=2 (change)="enviar(form)" [(ngModel)]="datos.secuelas" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Secuelas</label>
          </div>
          <!-- <div id="inpt">
            <input type="text" name="secuelas" id="secuelas" placeholder="Secuelas" required tabindex=2 (change)="enviar(form)" ngModel>
          </div> -->
          <div class="group">
            <input type="text" name="especificarHP" id="especificarHP" required required tabindex=4 (change)="enviar(form)" [(ngModel)]="datos.especificarHP" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Especificar</label>
          </div>
          <!-- <div id="inpt">
            <input type="text" name="especificarHP" id="especificarHP" placeholder="Especificar" required tabindex=4 (change)="enviar(form)" ngModel>
          </div> -->
          <div class="group">
            <input type="text" name="especificarAQ" id="especificarAQ" required tabindex=6 (change)="enviar(form)" [(ngModel)]="datos.especificarAQ" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Especificar</label>
          </div>
          <!-- <div id="inpt">
            <input type="text" name="especificarAQ" id="especificarAQ" placeholder="Especificar" required tabindex=6 (change)="enviar(form)" ngModel>
          </div> -->
          <div class="group">
            <input type="text" name="especificarTP" id="especificarTP" required tabindex=8 (change)="enviar(form)" [(ngModel)]="datos.especificarTP" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Especificar</label>
          </div>
          <!-- <div id="inpt">
            <input type="text" name="especificarTP" id="especificarTP" placeholder="Especificar" required tabindex=8 (change)="enviar(form)" ngModel>
          </div> -->
          <div id="inpt" style="margin: 0px !important; padding: 0px !important;">
            <div class="row">
              <div class="col">
                <label style="margin-left: 15px;">Accidentes / traumatismos</label>
                <select name="acidenteTraumatismo" id="acidenteTraumatismo" required tabindex=10 (change)="enviar(form)" [(ngModel)]="datos.acidenteTraumatismo" [disabled]="habilitar">
                  <option value="">Accidentes / traumatismos</option>
                  <option value="SI">Si</option>
                  <option value="NO">No</option>
                </select>
              </div>
              <div class="col">
                <div class="group">
                  <input type="text" style="width:78% !important;" name="cualAT" id="cualAT" required tabindex=11 (change)="enviar(form)" [(ngModel)]="datos.cualAT" [disabled]="habilitar">
                  <span class="highlight"></span>
                  <label>¿Cual?</label>
                </div>
                <!-- <input type="text" style="width:78% !important;" name="cualAT" id="cualAT" placeholder="¿Cual?" required tabindex=11 (change)="enviar(form)" ngModel> -->
              </div>
            </div>
          </div>
          <div class="group">
            <input type="text" name="especificarOE" id="especificarOE" required tabindex=13 (change)="enviar(form)" [(ngModel)]="datos.especificarOE" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Especificar</label>
          </div>
          <!-- <div id="inpt">
            <input type="text" name="especificarOE" id="especificarOE" placeholder="Especificar" required tabindex=13 (change)="enviar(form)" ngModel>
          </div> -->
          <div class="group">
            <input type="text" name="especificarMA" id="especificarMA" required tabindex=15 (change)="enviar(form)" [(ngModel)]="datos.especificarMA" [disabled]="habilitar">
            <span class="highlight"></span>
            <label>Especificar</label>
          </div>
          <!-- <div id="inpt">
            <input type="text" name="especificarMA" id="especificarMA" placeholder="Especificar" required tabindex=15 (change)="enviar(form)" ngModel>
          </div> -->
        </div>
      </div>
    </div>
  </form>
</div>
