#receta{
  #title{
    color: white;
  }
  .card{
    background-color: #DDDDDDCC;
    border-radius: 10px;
    height: 540px;
    width: 100%;
    margin-top: 10px !important;
    div{
      margin-top: 5px;
      padding: 15px;
    }
    .sele{
      margin-top: 5px;
      padding: 0px;
    }
    #inpt{
      input{
        margin: 0px 0px 0px 10px;
        width: 90%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #000000;
        color: #4B4B4E;
        font-size: .8rem;
        ::placeholder{
          color: #4B4B4E;
          font-size: .8rem;
        }
      }
      select{
        margin: 0px 0px 0px 10px;
        width: 90%;
        background-color: transparent;
      }
    }
    #doctor{
      width: 237px;
      height: 56px;
      margin-left: 66px;
      margin-top: 47px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 28px;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: #4B4B4E;
    }
    #cedula{
      width: 249px;
      height: 16px;
      margin-left: 66px;
      margin-top: 25px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 5px;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: #4B4B4E;
    }
    #pacientes{
      input{
        background-color: transparent;
        margin-left: 66px;
        margin-top: 60px;
        width: 92%;
        border: none;
        border-bottom: 1px solid black;
      }
    }
    ::placeholder{
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: #4B4B4E;
    }
    #receta{
      p{
        margin-top: 20px;
        margin-left: 66px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 10px;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #000000;
      }
      textarea{
        margin-left: 66px;
        background-color: transparent;
        width: 89%;
      }
    }
  }
}


